<div class="slds-col slds-size--1-of-1" >
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#layout"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">Edit Layout</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ layout.SObject.label + ' ' + layout.type }}">{{ layout.SObject.label + ' : ' + layout.type + ' layout' }}</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <div class="slds-button-group" role="group">
                    <button ng-if="returnToListEnable === undefined" class="slds-button slds-button--neutral" ng-click="returnToList()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                        </svg>
                        Back to list
                    </button>
                    <button class="slds-button slds-button--brand" ng-click="callSaveLayout();">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slds-grid">
    <div class="slds-col slds-size--3-of-12 slds-scrollable--y slds-border--right" style="height: calc(100vh - 241px);">
        <slds-accordion>
            <h3 class="slds-align-middle slds-text-heading--small slds-border--top slds-p-horizontal--large slds-p-vertical--x-small slds-accordion-header slds-text-title--caps">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                </svg>
                Fields
            </h3>
            <div class="slds-grid slds-grid--vertical slds-accordion-item" block-ui="sObjectFields">
                <div class="slds-p-left--x-small slds-p-right--x-small slds-p-bottom--x-small slds-p-top--xx-small slds-shrink-none slds-theme--shade slds-has-divider--bottom">
                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--left">
                            <svg class="slds-input__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input id="fieldSearch" type="text" class="slds-lookup__search-input slds-input" placeholder="Search..." ng-model="search.key">
                        </div>
                    </div>
                </div>
                <div class="slds-p-horizontal--xx-small slds-scrollable-y">
                    <ul>
                        <li ng-repeat="field in filteredLayoutSObjectFields = (layout.SObject.fields | filter: { recordid: false,SObjectField :{label :search.key} } | orderBy: 'label')">
                            <a dnd-draggable="field" dnd-effect-allowed="copy" draggable="true" dnd-type="'sObjectField'" href="javascript:void(0);"  title="{{field.SObjectField.name}}"  class="slds-app-launcher__tile slds-text-link--reset" style="margin: .25rem 0;">
                                <div class="slds-app-launcher__tile-figure" style="padding: .30rem;">
                                    <span class="slds-avatar slds-avatar--small slds-align--absolute-center slds-icon-custom-4">
                                        <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-app-launcher__tile-body" dnd-draggable="field" dnd-effect-allowed="copy" draggable="true" dnd-type="'sObjectField'">
                                    <span class="slds-text-link">{{ field.SObjectField.label }}</span>
                                    <small style="float:right">{{ field.SObjectField.type + ' ' + ((field.SObjectField.calculated) ? '| formula' : '') }}</small>
                                </div>
                            </a>
                        </li>
                        <li class="slds-blank-slate slds-p-around--x-small slds-m-top--xx-small" ng-if="filteredLayoutSObjectFields.length === 0" >
                            No field found for matching criteria.
                        </li>
                    </ul>
                </div>
            </div>
            
            <h3 ng-if="components()" class="slds-align-middle slds-text-heading--small slds-border--top slds-p-horizontal--large slds-p-vertical--x-small slds-accordion-header slds-text-title--caps">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
                </svg>
                Components
            </h3>
            <div ng-if="components()" class="slds-grid slds-grid--vertical slds-accordion-item">
                <div class="slds-p-left--x-small slds-p-right--x-small slds-p-bottom--x-small slds-p-top--xx-small slds-shrink-none slds-theme--shade slds-has-divider--bottom">
                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--left">
                            <svg class="slds-input__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input type="text" class="slds-lookup__search-input slds-input" placeholder="Search..." ng-model="componentFilter">
                        </div>
                    </div>
                </div>
                <div class="slds-p-horizontal--xx-small slds-scrollable-y">
                    <ul>
                        <li ng-repeat="component in filteredComponents = (components() | filter: componentFilter)">
                            <a href="javascript:void(0);"  dnd-draggable="component" dnd-effect-allowed="copy" draggable="true" dnd-type="'layoutSection'" class="slds-app-launcher__tile slds-text-link--reset" style="margin: .25rem 0;">
                                <div class="slds-app-launcher__tile-figure" style="padding: .30rem;">
                                    <span class="slds-avatar slds-avatar--small slds-align--absolute-center slds-icon-custom-7">
                                        <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-app-launcher__tile-body" dnd-draggable="component" dnd-effect-allowed="copy" draggable="true" dnd-type="'layoutSection'">
                                    <span class="slds-text-link">{{ component.title }}</span>
                                </div>
                            </a>
                        </li>
                        <li class="slds-blank-slate slds-p-around--x-small slds-m-top--xx-small" ng-if="filteredComponents.length === 0" >
                            No component found for matching criteria.
                        </li>
                    </ul>
                </div>
            </div>

            <h3 ng-if="layout.type === 'Edit' || layout.type === 'Details'" class="slds-align-middle slds-text-heading--small slds-border--top slds-p-horizontal--large slds-p-vertical--x-small slds-accordion-header slds-text-title--caps">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#summary"></use>
                </svg>
                Related lists
            </h3>
            <div ng-if="layout.type === 'Edit' || layout.type === 'Details'" class="slds-grid slds-grid--vertical slds-accordion-item">
                <div class="slds-p-left--x-small slds-p-right--x-small slds-p-bottom--x-small slds-p-top--xx-small slds-shrink-none slds-theme--shade slds-has-divider--bottom">
                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--left">
                            <svg class="slds-input__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input type="text" class="slds-lookup__search-input slds-input" placeholder="Search..." ng-model="relatedListFilter">
                        </div>
                    </div>
                </div>
                <div class="slds-p-horizontal--xx-small slds-scrollable-y" block-ui="childSObjects">
                    <ul>
                        <li ng-repeat="relatedList in filteredLayoutRelatedLists = (layoutRelatedLists | filter: relatedListFilter)">
                            <a dnd-draggable="relatedList" dnd-effect-allowed="copy" draggable="true" dnd-type="'relatedList'" href="javascript:void(0);"  class="slds-app-launcher__tile slds-text-link--reset" style="margin: .25rem 0;">
                                <div class="slds-app-launcher__tile-figure" style="padding: .30rem;">
                                    <span class="slds-avatar slds-avatar--small slds-align--absolute-center slds-icon-custom-30">
                                        <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#summary"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-app-launcher__tile-body" dnd-draggable="relatedList" dnd-effect-allowed="copy" draggable="true" dnd-type="'relatedList'">
                                    <span class="slds-text-link">{{ relatedList.title }}</span>
                                </div>
                            </a>
                        </li>
                        <li class="slds-blank-slate slds-p-around--x-small slds-m-top--xx-small" ng-if="filteredLayoutRelatedLists.length === 0" >
                            No related list found for matching criteria.
                        </li>
                    </ul>
                </div>
            </div>

            <h3 ng-if="widgetsValues" class="slds-align-middle slds-text-heading--small slds-border--top slds-p-horizontal--large slds-p-vertical--x-small slds-accordion-header slds-text-title--caps">
                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#tile_card_list"></use>
                </svg>
                Widgets
            </h3>
            <div ng-if="widgetsValues" block-ui="widgets" class="slds-grid slds-grid--vertical slds-accordion-item">
                <div class="slds-p-left--x-small slds-p-right--x-small slds-p-bottom--x-small slds-p-top--xx-small slds-shrink-none slds-theme--shade slds-has-divider--bottom">
                    <div class="slds-form-element__control">
                        <div class="slds-input-has-icon slds-input-has-icon--left">
                            <svg class="slds-input__icon" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            <input type="text" class="slds-lookup__search-input slds-input" placeholder="Search...">
                        </div>
                    </div>
                </div>
                <div class="slds-p-horizontal--xx-small slds-scrollable-y" >
                    <ul>
                        <li ng-repeat="widgetValue in widgetsValues">
                            <a dnd-draggable="widgetValue" dnd-effect-allowed="copy" draggable="true" dnd-type="'layoutSection'" href="javascript:void(0);"  class="slds-app-launcher__tile slds-text-link--reset" style="margin: .25rem 0;">
                                <div class="slds-app-launcher__tile-figure" style="padding: .30rem;">
                                    <span class="slds-avatar slds-avatar--small slds-align--absolute-center slds-icon-custom-62">
                                        <svg class="slds-icon slds-icon--x-small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#snippet"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="slds-app-launcher__tile-body" dnd-draggable="widgetValue" dnd-effect-allowed="copy" draggable="true" dnd-type="'layoutSection'">
                                    <span class="slds-text-link">{{ widgetValue.title }}</span>
                                </div>
                            </a>
                        </li>
                        <li class="slds-blank-slate slds-p-around--x-small slds-m-top--xx-small" ng-if="widgetsValues.length === 0" >
                            No widgets found.
                        </li>
                    </ul>
                </div>
            </div>
        </slds-accordion>
    </div>
    <div class="slds-col slds-size--9-of-12 slds-scrollable--y slds-p-around--small" style="height: calc(100vh - 200px );" ng-include="templateUrl"></div>
</div>