<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#layout"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{ $root.title() }}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="All tabs">All Layouts</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <div class="slds-button-group" role="group">
                    <button class="slds-button slds-button--brand" ng-click="openSObjectLayoutsLookup()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                        </svg>
                        Create Layout
                    </button>
                </div>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-text-body--small">Total <span ng-bind-template="{{$root.filteredLayouts.length}}">0</span> item(s).</p>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                <div class="slds-form-element">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                        <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input type="text" class="slds-input" placeholder="Search layouts..." ng-model="layoutsFilter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-scrollable--y" block-ui="loadLayouts" style="height: calc(100vh - 228px);">
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="height: calc(100vh - 260px);">
            <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col">
                        <div class="slds-truncate" title="SObject">SObject</div>
                    </th>
                    <th scope="col" style="width: 150px;">
                        <div class="slds-truncate" title="Layout type">Layout type</div>
                    </th>
                    <th scope="col" style="text-align: center; width: 50px;">
                        <div class="slds-truncate" title="Active">Active</div>
                    </th>
                    <th scope="col" style="text-align: center; width: 50px;">
                        <div class="slds-truncate" title="Default">Default</div>
                    </th>
                    <th scope="col" style="text-align: center;width: 100px;">
                        <div class="slds-truncate" title="Actions">Actions</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="$root.filteredLayouts.length === 0 && layouts.length > 0 && layoutsFilter">
                    <td colspan="6" class="slds-blank-slate">
                        <h1>No Layout found for search criteria.</h1>
                    </td>
                </tr>
                <tr ng-if="layouts.length === 0">
                    <td colspan="6" class="slds-blank-slate">
                        <h1>No Layout added.</h1>
                        <p>Click <a href="" ng-click="openSObjectLayoutsLookup()"><strong>Create Layout</strong></a> to add new <strong>Layout</strong>.</p>
                    </td>
                </tr>
                <tr ng-repeat="layout in $root.filteredLayouts = (layouts | filter: layoutsFilter)">
                    <td data-label="SObject">
                        <div class="slds-truncate" title="{{ layout.SObject.label }} : {{ layout.type }} layout">{{ layout.SObject.label }}</div>
                    </td>
                    <td data-label="Layout type">
                        <div class="slds-truncate" title="{{ layout.type }}">{{ layout.type }}</div>
                    </td>
                    <td data-label="Active">
                        <div class="slds-truncate slds-align--absolute-center">
                            <slds-switch ng-model="layout.active" switch-change="changeActive(layout)" show-texts="false"/>
                        </div>
                    </td>
                    <td data-label="Default" style="text-align: center;">
                        <div class="slds-truncate">
                            <svg class="slds-button__icon slds-button__icon--left" ng-if="layout.default" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                        </div>
                    </td>
                    <td data-label="Actions">
                        <div class="slds-truncate slds-align--absolute-center" >
                            <div class="slds-button-group" role="group">
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="edit(layout)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Edit</span>
                                </button>
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="deleteLayout(layout)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Delete</span>
                                </button>
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="markAsDefault(layout)" ng-disabled="layout.type === 'Details' || layout.type === 'Edit'">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Mark as default</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>