<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">User Actions</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="User Actions {{ ' - ' + layout.actionvalue + '(' + layout.SObject.label +')' }}">User Actions {{ ' - ' + layout.actionvalue + '(' + layout.SObject.label +')' }}</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <div class="slds-button-group" role="group">
                    <button  class="slds-button slds-button--neutral" ng-click="returnToList()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                        </svg>
                        Back to list
                    </button>
                    <button class="slds-button slds-button--brand" ng-click="saveLayout();">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" 
        style="height: calc(100vh - 237px);">
        <div class="slds-col slds-size--1-of-2 slds-border" style="border: 1px solid #00A8E1;">
            <div class="slds-grid slds-page-header " style="margin: 0.3rem;padding: 0.3rem; background-color: #00A8E1;">
                <div class="slds-col slds-align-middle">
                    <p class="slds-text-title--caps slds-line-height--reset ng-binding" style="color:white"><b>Configured Actions</b></p>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                            <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search" />
                            </svg>
                            <input class="slds-input ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search..." ng-model="sObjectsFilter" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-scrollable" block-ui="useractionfield">
                <table fixed-header class="slds-table slds-table--compaq  slds-table--bordered slds-table--cell-buffer slds-table--striped"
                    ng-if="layout.SObject.fields .length > 0" style="margin-bottom:0px;height: calc(100vh - 339px);">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th style="white-space:normal !important;" title="Sobject Field Name">Sobject Field Name</th>
                            <th style="white-space:normal !important;" title="Type">Type</th>
                            <th style="white-space:normal !important;min-width:100px;" title="Readonly">Readonly</th>
                            <th style="white-space:normal !important;min-width:100px;" title="Required">Required</th>
                            <th style="white-space:normal !important;min-width:100px;" title="Optional">Optional</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in layout.SObject.fields |filter: { label : sObjectsFilter} | orderBy: 'label'">
                            <td class="slds-truncate" data-label="Sobject Field Name" style="white-space:normal !important;" title="{{ field.SObjectField.label }}"><strong>{{ field.SObjectField.label }}</strong></td>
                            <td class="slds-truncate" data-label="Type" style="white-space:normal !important;" title="{{ field.SObjectField.type }}">{{ field.SObjectField.type }}</td>
                            <td data-label="Readonly" style="white-space:normal !important;width:150px">
                                <slds-switch switch-change="changeAction(field,'readonly')" ng-model="field.readonly" on-text="True" off-text="False"/>
                            </td>
                            <td data-label="Required" style="white-space:normal !important;width:150px">
                                <slds-switch switch-change="changeAction(field,'required')" ng-model="field.required" on-text="True" off-text="False"/>
                            </td>
                            <td data-label="Optional" style="white-space:normal !important;width:150px">
                                <slds-switch switch-change="changeAction(field,'optional')" ng-model="field.optional" on-text="True" off-text="False"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="slds-col slds-has-flexi-truncate" ng-if="userActions.length == 0">
                    <div class=" slds-no-space slds-grow" align="center" style="padding-top:100px ">
                        <div style="padding:20px 0px">
                            <span class="slds-icon_container slds-icon-standard-user">
                                    <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                    </svg>
                                </span>
                        </div>
                        <div class="">
                            <h1 style="margin:0px" class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ 'No Mobile field Configured .' }}">No Mobile field Configured ..</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>