<div class="slds-col slds-size--1-of-1" block-ui="synchronizeSobject">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#standard_objects"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">sObjects</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ $root.title() }}">{{ $root.title() }}</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <button class="slds-button slds-button--brand" ng-click="manage()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#replace"></use>
                    </svg>
                    Manage sObjects
                </button>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-text-body--small">Total <span ng-bind-template="{{$root.filteredsObjects.length}}">0</span> item(s).</p>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                <div class="slds-form-element">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                        <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input type="text" class="slds-input" placeholder="Search sObjects..." ng-model="sObjectsFilter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-scrollable--y" block-ui="loadSObjects" style="height: calc(100vh - 269px);">
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="height: calc(100vh - 303px);">
            <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col"><div class="slds-truncate" title="Label">Label</div></th>
                    <th scope="col"><div class="slds-truncate" title="Label Plural">Label Plural</div></th>
                    <th scope="col"><div class="slds-truncate" title="SObject">Api Name</div></th>
                    <th scope="col" style="text-align: center;width: 50px;"><div class="slds-truncate" title="Custom">Custom</div></th>
                    <th scope="col" style="text-align: center;width: 150px;"><div class="slds-truncate" title="Actions">Actions</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="sObjects.length === 0">
                    <td colspan="8" class="slds-blank-slate"><div class="slds-truncate slds-align--absolute-center">No SObject added.</div></td>
                </tr>
                <tr ng-if="sObjects.length > 0 && $root.filteredsObjects.length === 0">
                    <td colspan="8" class="slds-blank-slate"><div class="slds-truncate slds-align--absolute-center">No SObject found for applied filter.</div></td>
                </tr>
                <tr ng-repeat="sObj in $root.filteredsObjects = (sObjects | filter: { label : sObjectsFilter})">
                    <td data-label="Label">
                        <div class="slds-truncate" title="{{ sObj.label }}">
                            <strong>{{ sObj.label }}<strong>
                        </div>
                    </td>
                    <td data-label="Label Plural">
                        <div class="slds-truncate" title="{{ sObj.labelPlural }}">{{ sObj.labelPlural }}</div>
                    </td>
                    <td data-label="Api Name">
                        <div class="slds-truncate" title="{{ sObj.name }}">{{ sObj.name }}</div>
                    </td>
                    <td data-label="Custom" style="text-align: center;">
                        <div class="slds-truncate">
                            <svg class="slds-button__icon slds-button__icon--left" ng-if="sObj.custom" aria-hidden="true">
                                <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                        </div>
                    </td>
                    <td data-label="Actions" style="text-align: center;">
                        <div class="slds-truncate slds-align--absolute-center" >
                            <div class="slds-button-group" role="group">
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="manageSObjectFields(sObj)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#custom_apps"></use>
                                    </svg>
                                    <span class="slds-assistive-text" >Manage Fields</span>
                                </button>
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="viewSObject(sObj)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#preview"></use>
                                    </svg>
                                    <span class="slds-assistive-text">View</span>
                                </button>
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="deleteSObject(sObj)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Delete</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>