<div ng-if="field.rendered">
        <input  type="text" 
                id="{{ field.SObjectField.name + index}}"
                ng-model="model[field.SObjectField.name]" 
                class="slds-input"
                ng-required="field.required"
                ng-if="!readonly">
        <!--<span ng-if="readonly" ng-bind="model[field.SObjectField.name]"></span>-->
        <label ng-if="readonly" class="slds-form-element__label" style="margin-top:.2rem;margin-bottom: 0;" ng-bind="model[field.SObjectField.name]"></label>
</div>