<div ng-if="type === 'create'">
	<div class="col-md-12" block-ui="AttachmentBlock"> 
	<div class="col-md-12" >
		<div class="col-md-{{allowAttachPrime ? 6 : 12}}">
			<form class="form-horizontal">
				<div class="form-group" style="margin-bottom: -8px;">
					<label class="col-md-{{allowAttachPrime ? 5 : 6}} control-label" for="selectFile">Select the File to be attached</label>
					<div class="input-group col-md-{{allowAttachPrime ? 7 : 6}}">
						<span 	id 				="selectFile"
								data-ng-show	= "!primaryDoc.primaryDocument"
								class		    = "btn btn-primary fileinput-button dz-clickable" 
								name		    = "file"
								enctype		    = "multipart/form-data"
								data-ngf-select	= "selectFile($files, $invalidFiles)"
								ngf-max-size    = "{{allowedSize}}MB"
								accept		    = "{{allowedExt}}"
								multiple>
								<span>Add </span><i class="pficon-file"></i> 
						</span>
						<span 	id 				="selectFile" 	
								data-ng-show	= "primaryDoc.primaryDocument"
								class		    = "btn btn-primary fileinput-button dz-clickable" 
								name		    = "file"
								enctype		    = "multipart/form-data"
								data-ngf-select	= "selectFile($files, $invalidFiles)"
								ngf-max-size    = "{{allowedSize}}MB"
								accept		    = "{{allowedExtForPrime}}"
								single>
								<span>Add </span><i class="pficon-file"></i>
						</span> 
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal">
				<div class="form-group">
					<label data-ng-show="allowAttachPrime" class="col-md-5 control-label" for="uploadPrimary">Upload Primary Document</label>
					<div class="input-group col-md-7">
						<input id="uploadPrimary" data-ng-show="allowAttachPrime" type="checkbox" ng-model="primaryDoc.primaryDocument" data-ng-click="primaryDocumentClicked(primaryDoc.primaryDocument);" data-ng-disabled="disablePrimaryDocuent" tooltip="Primary Document">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group" style="margin-bottom: 5px;text-align: left;color:red;">
				<label style="text-align: center;" data-ng-show="!primaryDoc.primaryDocument" class="col-md-11 control-label">{{ allowedExt }} format are supported.</label>
				<label style="text-align: center;" data-ng-show="primaryDoc.primaryDocument" class="col-md-11 control-label">{{ allowedExtForPrime }} format are supported.</label>
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group">
				<label style="text-align: center;" class="col-md-11 control-label">Note : Please limit your files to a maximum of {{allowedSize}}MB in size.</label>
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="panel panel-default" style="margin-bottom: -8px;">
					<div class="panel-heading">
						<h3 class="panel-title">Attachment Section</h3>
					</div>
					<div class="panel-body row" ng-if="files" data-ng-show="files.length > 0">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">
									<label style="text-align: center;" class="col-md-2 panel-title"></label>
									<label style="text-align: center;" class="col-md-4 panel-title">File</label>
									<label style="text-align: center;" class="col-md-4 panel-title">Size in Bytes</label>
									<label style="text-align: center;" class="col-md-2 panel-title">Upload</label>
								</div>
							</form>
						</div>
						<div data-ng-model="files" class="col-md-12" data-ng-repeat="file in files">
							<form class="form-horizontal">
								<div class="form-group" style="margin-bottom: 0px;">
									<label style="text-align: center;" class="col-md-2"><a href="" data-ng-click="deleteFile(file)">delete</a></label>
									<label style="text-align: center;" class="col-md-4">{{file.name}}</label>
									<label style="text-align: center;" class="col-md-4">{{file.size}}</label>
									<label style="text-align: center;" class="col-md-2">
										<a href="" ng-show="!file.isPersisted" data-ng-click="attachFiles(file)" class ="btn btn-success fileinput-button dz-clickable">Upload</a> 
										<label data-ng-if="primaryFileName == file.name" style="margin-bottom: 0;">Primary Document</label>
									</label>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-body row" ng-if="files" data-ng-show="files.length == 0">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group" style="margin-bottom: -10px;margin-top: 0px;">
									<label style="text-align: center;" class="col-md-11 control-label">No attachment found.</label>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
<div ng-if="type !== 'create'" >
	<div class="col-md-12" block-ui="AttachmentBlock"> 
	<div class="col-md-9" >
		<form class="form-horizontal">
			<div class="form-group">
					<center>
						<button type="button" class="btn btn-primary" ng-disabled="type === 'detail'" ng-click="openAttachmentLookup()" style="margin-left:32%;"><i class="icon icon-file"></i> Attach File</button>
					</center>
				<!--<button type="button" class="btn btn-primary" ng-show="allowAddAttach == 'true'" ng-click="showUploadAttachmentModal()" style="margin-left:32%;"><i class="icon icon-file"></i> Attach File</button>-->
			</div>
		</form>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="panel panel-default" style="margin-bottom: -8px;">
					<div class="panel-heading">
						<h3 class="panel-title">Attachments</h3>
					</div>
					<div class="panel-body row" ng-if="attachments" data-ng-show="(attachments | filter: {IsDeleted: false}).length > 0">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">
									<label style="text-align: center;" class="col-md-2 panel-title" ng-if="type !== 'detail'">Delete</label>
									<label style="text-align: center;" class="col-md-1 panel-title" ng-if="type == 'detail'"></label>
									<label style="text-align: center;" class="col-md-2 panel-title">Title</label>
									<label style="text-align: center;" class="col-md-4 panel-title">Size</label>
									<label style="text-align: center;" class="col-md-2 panel-title">ContentType</label>
									<label style="text-align: center;" class="col-md-2 panel-title">Download</label>
									<label style="text-align: center;" class="col-md-1 panel-title" ng-if="type == 'detail'"></label>
								</div>
							</form>
						</div>
						<div data-ng-model="attachments" class="col-md-12" data-ng-repeat="attachment in attachments | filter: {IsDeleted: false}">
							<form class="form-horizontal">
								<div class="form-group" style="margin-bottom: 0px;">
									<label style="text-align: center;" class="col-md-2 " ng-if="type !== 'detail' && attachment.Description === currentUser"><a href="" data-ng-click="deleteAttachment(attachment)">delete</a></label>
									<label style="text-align: center;" class="col-md-2 " ng-if="type !== 'detail' && attachment.Description !== currentUser"> - </label>
									<label style="text-align: center;" class="col-md-1 " ng-if="type == 'detail'"></label>
									<label style="text-align: center;" class="col-md-2">{{attachment.Name}}</label>
									<label style="text-align: center;" class="col-md-4">{{attachment.BodyLength/1024 | number : 2}} KB</label>
									<label style="text-align: center;" class="col-md-2">{{attachment.ContentType}}</label>
									<label style="text-align: center;" class="col-md-2">
										<a class="btn btn-primary" ng-click="getFileData($root.encodeURI(attachment.Name),attachment.Body)">
											<i class="icon-large pficon-save"></i>
										</a>
									</label>
									<label style="text-align: center;" class="col-md-1 " ng-if="type == 'detail'"></label>
								</div>
							</form>
						</div>
					</div>
					<div class="panel-body row" ng-if="attachments" data-ng-show="(attachments | filter: {IsDeleted: false}).length == 0">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group" style="margin-bottom: 0px;margin-top: -10px;">
									<label style="text-align: center;" class="col-md-11 control-label">No attachment found.</label>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	<!--<table class="table table-spriped table-condensed">
		<tr>
			<th>Title</th>
			<th>Size</th>
			<th>Description</th>
			<th style="text-align: center;">Download</th>

		</tr>
		<tr ng-repeat="note in model.notesDetails">
			<td>{{ $root.showValue(note.allFields.Title) }}</td>
			<td>-</td>
			<td>-</td>
			<td style="text-align: center;"><button type="button"
					ng-click="showNoteModal(note.id.idStr)" class="btn btn-primary">
					<i class="icon icon-eye-open"></i>
				</button></td>


		</tr>
		<tr ng-repeat="attachment in model.attachmentsDetails">
			<td>{{ $root.showValue(attachment.allFields.Name) }}</td>
			<td>{{ $root.showValue(attachment.allFields.BodyLength/1024) |
				number : 2}} KB</td>
			<td>{{ $root.showValue(attachment.allFields.Description) }}</td>
			<td style="text-align: center;"><a class="btn btn-primary"
				href="rest/notesAndAttachments/viewAttachment?name={{$root.encodeURI(attachment.allFields.Name)}}&body={{attachment.allFields.Body}}">
					<i class="icon-large icon-download-alt"></i>
			</a></td>


		</tr>

	</table>-->
</div>