<div class="col-md-12">
    
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
            <button class="btn btn-primary" type="button" ng-click="openLanguagesLookup();"><i class="fa fa-plus"></i> Enable Language</button>
        </div>
        <h1><i class="fa fa-language"></i> {{ $root.title() }}</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-language"></i> Languages
                <div class="actions pull-right">
                    <input class="form-control" ng-model="languagesFilter" placeholder="Search" style="font-weight: normal;margin-top: -5px"></input>
                </div>
            </h3>
        </div>
        <div class="panel-body" block-ui="loadLanguages" style="height:400px;overflow: auto;padding:0px;">
            <table class="table table-striped table-hover table-bordered" ng-if="languages.length > 0" style="margin-bottom:0px;">
                <thead>
                    <tr>
                        <th>Language Name</th>
                        <th>Language Code</th>
                        <th>Default</th>
                        <th style="text-align: center;width: 50px;">Active</th>
                        <th style="text-align: center;width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="language in languages | filter: languagesFilter" ng-dblclick="edit(language)">
                        <td>{{ language.name }}</td>
                        <td>{{ language.code }}</td>
                        <td style="text-align: center;"><i ng-class="{'fa fa-check' : language.default }"></i></td>
                        <td style="text-align: center;">
                            <input type="checkbox" bs-switch class="bootstrap-switch" switch-change="changeActive(language)" switch-size="mini" switch-on-text="True" switch-off-text="False" ng-model="language.active">
                        </td>
                        <td style="text-align: center;">
                            <div class="dropdown">
                                <button class="btn btn-xs btn-primary dropdown-toggle" type="button" id="actionMenu_{{layout.SObject.name}}_{{$index}}" data-toggle="dropdown">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="actionMenu_{{language.name}}_{{$index}}">
                                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1" ng-click="edit(language)"><i class="pficon-edit"></i> Edit</a></li>
                                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1" ng-if="language.code !== 'en'" ng-click="deleteLanguage(language)"><i class="pficon-delete"></i> Delete</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" ng-class="{'disabled': language.default}"><a href="#" role="menuitem" tabindex="-1" ng-click="markAsDefault(language)" ><i class="fa fa-check"></i> Mark as default</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="blank-slate-pf" ng-if="languages.length === 0" style="margin-bottom: 0px;height: 100%">
                <div class="blank-slate-pf-icon">
                    <span class="pficon pficon-add-circle-o"></span>
                </div>
                <h1>No language configured.</h1>
                <p>Click <a href="" ng-click="edit()"><strong>Create language</strong></a> to configure new <strong>language</strong>.</p>
            </div>
        </div>
    </div>
</div>