<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sObjectLookupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="sObjectLookupModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body" block-ui="loadSObjects" style="height:300px;overflow: auto;padding:0px;">
                <table class="table table-striped table-hover table-bordered" ng-if="sObjects.length > 0" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Api Name</th>
                            <th style="text-align: center;width: 100px;">Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="sObj in sObjects | filter:{customSetting: false} | filter: {label: sObjectsFilter} | orderBy: 'label'">
                            <td><strong>{{ sObj.label }}<strong></td>
                            <td>{{ sObj.name }}</td>
                            <td style="text-align: center;">
                                <button class="btn btn-xs btn-primary" type="button" ng-click="selectAndClose(sObj)"><i class="fa fa-check"></i> Select</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="blank-slate-pf" ng-if="sObjects.length === 0" style="margin-bottom: 0px;height: 100%">
                    <div class="blank-slate-pf-icon">
                        <span class="pficon pficon-add-circle-o"></span>
                    </div>
                    <h1>No sObject added.</h1>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="actions pull-left col-md-6" style="padding-left: 0px;">
                    <input type="text" class="form-control " ng-model="sObjectsFilter" placeholder="Search ..." style="float: left;" />
                </div>
                <button type="button" class="btn btn-default" ng-click="selectAndClose()">None</button>
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>