<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="adminClientDashboardContainerPropertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="fieldPropertiesModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body" style="height:300px;overflow: auto;">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="containerLabel">Label</label>
                            <div class="col-md-9">
                                <input type="text" id="containerLabel" class="form-control" placeholder="{{container.title}} name" ng-model="container.label">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="isContainerActive">Active ?</label>
                            <div class="col-md-9">
                                <input type="checkbox" switch-change="onChangeReadonly()" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isContainerActive" ng-model="container.active">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
</div>