<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="relatedListPropertiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" block-ui="relatedListPropertiesModalBlockUi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="relatedListPropertiesModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body" style="height:400px;overflow: auto;">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="relatedListTitle">Title</label>
                            <div class="col-md-9">
                                <input type="text" id="relatedListTitle" class="form-control" placeholder="{{relatedListTitle}}" ng-model="relatedList.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="relatedListActive">Active ?</label>
                            <div class="col-md-9">
                                <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="relatedListActive" ng-model="relatedList.active">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="relatedListRelativeField">Relative field</label>
                            <div class="col-md-9">
                                <select pf-select ng-model="relatedList.SObjectField" ng-options="field as field.label for field in relativeFields track by field.id"></select>                                
                            </div>
                        </div>
                        <div class="form-group" ng-if="forMobile === true" ng-init="relatedList.readonly = relatedList.readonly ? relatedList.readonly : false">
                            <label class="col-md-3 control-label" for="addMore">Readonly</label>
                            <div class="col-md-9" ng-init="relatedList.readonly = relatedList.readonly ? relatedList.readonly : false">
                                <input type="checkbox" switch-change="onChangeReadonlySwitch()" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="relatedListActive" ng-model="relatedList.readonly">
                            </div>
                        </div>
                        <div class="form-group" ng-if="forMobile === true">
                            <label class="col-md-3 control-label" for="addMore">Allow Add More</label>
                            <div class="col-md-9" ng-init="relatedList.requireAddMore = relatedList.requireAddMore ? relatedList.requireAddMore : false" style="{{relatedList.readonly === true ? 'pointer-events: none' : ''}}">
                                <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="relatedListActive" ng-model="relatedList.requireAddMore">
                            </div>
                        </div>
                        <div class="form-group" ng-if="forMobile === true">
                            <label class="col-md-3 control-label" for="filterCondition">Filter Condition</label>
                            <div class="col-md-9">
                                <criteria-builder id="filterCondition" group="relatedList.criteria.group" fields="relatedList.SObject.fields"></criteria-builder>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-striped table-hover" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#</th>
                            <th>Label</th>
                            <th>Display Label</th>
                            <th>Reference</th>
                            <th ng-if="forMobile === true">Read Only</th>
                            <th ng-if="forMobile === true">Required</th>
                            <th style="width: 200px;">Type</th>
                            <th style="text-align: center; width: 50px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody dnd-list="relatedListFields" dnd-allowed-types="['relatedListField']">
                        <tr ng-if="relatedListFields.length === 0"><td colspan="6" style="text-align: center;">No field added.</td></tr>
                        <tr ng-repeat="field in relatedListFields | filter: {deleted: false }"
                            dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="relatedListFields.splice($index,1)" dnd-type="'relatedListField'">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ field.SObjectField.label }}</td>
                            <td><input type="text" class="form-control input-xs" placeholder="{{field.SObjectField.label}}" ng-model="field.label" /></td>
                            <td reference-field-selector field="field" ref-sobjects="refSObjects"></td>
                            <td ng-if="forMobile === true" ng-init="field.readonly = field.readonly ? field.readonly : false" style="{{relatedList.readonly === true ? 'pointer-events: none' : ''}}">
                                <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isReadOnly" switch-change="onChangeReadonly(field);" ng-model="field.readonly">
                            </td>
                            <td ng-if="forMobile === true" ng-init="field.required = field.required ? field.required : false" style="{{relatedList.readonly === true ? 'pointer-events: none' : ''}}">
                                <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isRequired" switch-change="onChangeRequired(field);" ng-model="field.required">
                            </td>
                            <td>{{ field.SObjectField.type + ((field.SObjectField.calculated) ? ' | formula' : '') }}</td>
                            <td style="text-align: center;">
                                <button class="btn btn-xs btn-danger" type="button" ng-click="relatedListFields.splice($index,1)"><i class="pficon-delete"></i> Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{{forMobile === true ? 8 : 6}}" style="padding: 3px;color: green;">
                                {{ relatedListFields.length }} field(s) added.
                            </td> 
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <div class="actions pull-left col-md-6" style="padding-left: 0px;">
                    <div class="input-group">
                        <select pf-select class="form-control" ng-model="fieldToAdd" ng-options="field as (field.label + ' [' + field.type + ((field.calculated) ? ' | formula' : '') + ']') for field in relatedList.SObject.SObjectFields | filter: { type: '!id'}">
                            <option value="">-- None --</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="addToRelatedListFields(fieldToAdd)">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
</div>