<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{ $root.title() }}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Org Detail Configuration">Org Detail Configuration</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <button ng-if="enableEdit === false" type="submit" class="slds-button slds-button--brand" ng-click="edit(true)">
                     <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#edit"/>
                    </svg>
                    {{ (orgDetailConfig.name) ? 'Edit' : 'Configure' }}
                </button>
                <button ng-if="enableEdit === true" type="submit" class="slds-button slds-button--neutral" ng-click="edit(false)" class="btn btn-default">Cancel</button>
                <button ng-if="enableEdit === true" type="submit" class="slds-button slds-button--brand" ng-click="save()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"/>
                    </svg>
                    Save
                </button>
            </div>
        </div>
    </div>
    <div block-ui="loadOrgDetail" class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" style="height: calc(100vh - 237px);">
        <article class="slds-card slds-size--1-of-1">
            <div class=" slds-border--top slds-border--bottom" style="background: white;">
                <div class="slds-size--1-of-1 slds-panel__section" style="padding-right:{{enableEdit === false?'1rem':'20%'}}">
                    <div class="slds-form--horizontal">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Name</label>
                            <div class="slds-form-element__control">
                                <label ng-if="enableEdit === false" class="slds-text-body--regular">{{ orgDetailConfig.name }}</label>
                                <input type="hidden" ng-model="orgDetailConfig.name">
                                <div class="slds-grid slds-box--border"  ng-if="enableEdit === true"  >
                                    <input  type="text" id="OrgName" ng-model="orgDetailConfig.name"  class="slds-input" ng-required="true"  ng-if="enableEdit === true">
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">sysAdminId</label>
                            <div class="slds-form-element__control">
                                <label ng-if="enableEdit === false" class="slds-text-body--regular">{{ orgDetailConfig.sysAdminId }}</label>
                                <input type="hidden" ng-model="orgDetailConfig.sysAdminId">
                                <div class="slds-grid slds-box--border"  ng-if="enableEdit === true"  >
                                    <input  type="text" id="OrgName" ng-model="orgDetailConfig.sysAdminId"  class="slds-input" ng-required="true"  ng-if="enableEdit === true">
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="logo">logo</label>
                            <div class="slds-form-element__control">
                                <div  ng-if="enableEdit === false && orgDetailConfig.logo !== '' " >
                                    <img data-ng-src="data:image/png;base64,{{orgDetailConfig.logo }}" data-err-src="resources/images/No Logo.gif" style="max-width: 200px;max-height: 200px;width: auto;height: :auto"/>
                                </div>
                                <div  ng-if="enableEdit === false && orgDetailConfig.logo =='' ">
                                    <img src="resources/images/No Logo.gif" style="width: 200px;height: 200px"/>
                                </div>
                                <!--<span  ng-if="enableEdit === false && orgDetailConfig.logo =='' "> No Logo Uploaded.</span>-->
                                
                                <label ng-if="enableEdit === true" class="col-md-6 control-label" for="selectFile"> {{logofile ? logofile.name : 'Select file to upload as logo'}}</label>
                                <div class="slds-form-element__control input-group col-md-6" ng-if="enableEdit === true">
                                    <span 	id 				="selectFile"
                                            class		    = "slds-button slds-button--neutral dz-clickable" 
                                            name		    = "file"
                                            enctype		    = "multipart/form-data"
                                            data-ngf-select	= "selectFile($files, $invalidFiles)"
                                            style="    cursor: pointer;"
                                            >
                                            <span>Add </span><i class="pficon-file"></i> 
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div  ng-if="enableEdit === true">
                            <div class="col-sm-offset-2 col-sm-10" style="color: red">
                                Note : Only {{allowedExtList}} file format supported.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </article>
    </div>
</div>