<!--<div class="panel panel-default" ng-if="section.rendered && !slds">
    <div class="panel-heading">
        <h3 class="panel-title" translate>{{ section.title}}</h3>
    </div>
    <div class="panel-body row">
        <div ng-if="section.isComponent" class="col-xs-12 col-sm-12 col-md-12" type="{{type}}" component section="section" ctrl="baseCtrl">
        </div>
        <div ng-if="!section.isComponent" ng-repeat="(fIndex, fields) in section.columns" class="col-xs-{{12/section.columns.length}} col-sm-{{12/section.columns.length}} col-md-{{12/section.columns.length}}">
            <form class="form-horizontal">
                <div class="form-group sobject-layout-field" ng-repeat="field in fields" >
                    <label class="col-sm-{{ section.columns.length > 1 ? (fIndex == 0 ? 7 : 4) : 5 }} control-label" ng-if="field.rendered" for="{{field.SObjectField.name + $index}}" translate>{{ field.label}}</label>
                    <div class="col-sm-{{ section.columns.length > 1 ? (fIndex == 0 ? 5 : 5) : 5 }}"><div  field-readonly="{{field.readonly}}" sobject-layout-field base-ctrl="baseCtrl" field="field" model="model" index="$index"></div></div>
                </div>
            </form>
        </div>
    </div>
</div>-->

<div class="slds-form--stacked slds-grow" ng-if="section.rendered">
    <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem 1.5rem .5rem 1.5rem;border-bottom: 3px solid #d8dde6">
        <h3 translate>{{ section.title}}</h3>
    </div>
    <div ng-if="section.isComponent" class="slds-panel__section slds-grid slds-border--bottom" type="{{type}}" component section="section" ctrl="baseCtrl"></div>
    <div ng-if="!section.isComponent" class="slds-panel__section slds-grid slds-p-vertical--x-small slds-p-horizontal--meduim slds-border--bottom">
        <div class="slds-size--1-of-{{section.columns.length}}" ng-if="!section.isComponent" ng-repeat="(fIndex, fields) in section.columns">
            <div class="slds-form--horizontal slds-p-horizontal--x-small">
                <div class="slds-form-element" ng-repeat="field in fields">
                     <form class="form-horizontal" ng-if="field.rendered != false">
                        <label class="slds-form-element__label" style="font-weight: 600;float: none;width:30%" for="{{field.SObjectField.name + $index}}" translate>{{ field.label}}</label>
                        <div class="slds-form-element__control ">
                            <div  field-readonly="{{field.readonly}}" sobject-layout-field base-ctrl="baseCtrl" field="field" model="model" index="$index"></div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>