<div block-ui = "MultiLevelApprovalComponentBlock" style="min-height: 100px;" class="slds-scrollable">
    <div >
        <form>
            <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="width: 100%;">
                <tbody ng-if="type !=='detail' && !section.readonly">
                    <tr >
                        <td style="font-weight: 700;border-top: 0px" translate ng-repeat="field in section.Component.ComponentDetails[0].configuration.fields" >
                            <div>{{ field.label }}</div>
                        </td>
                        <td style="border-top: 0px;"></td>
                    </tr>
                    <tr ng-repeat="dataModel in dataModelList | filter:{deleted: false} track by $index">
                        <td class="{{ 'td-'+field.SObjectField.type }} sobject-layout-field" style="border-top: 0px;min-width: 150px !important;" ng-repeat="field in section.Component.ComponentDetails[0].configuration.fields" ng-init="initReadonlyAndRequired(field, dataModel);" >
                            <div field-readonly="field.readOnly && isCriteriaValidAllObjects('for field read only.', field.readOnlyCriteria, dataModel, ctrl.dataModel)" sobject-component-field field="field" parent-ctrl="ctrl" model="dataModel" index="$index" criteria="field.criteria"></div>
                        </td>
                        <td style="text-align: right;border-top: 0px" ng-if="dataModel.Id !== undefined && isCriteriaValidAllObjects('for delete button for sf.', section.Component.ComponentDetails[0].configuration.deleteCriteria, dataModel, ctrl.dataModel)">
                            <div class="slds-truncate slds-align--absolute-center" >
                                <div class="slds-button-group" role="group">
                                    <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="dataModel.deleted = true" >
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: right;border-top: 0px" ng-if="dataModel.Id === undefined">
                            <div class="slds-truncate slds-align--absolute-center" >
                                <div class="slds-button-group" role="group">
                                    <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="dataModelList.splice($index, 1)" >
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete</span>
                                    </button>
                                </div>
                            </div>
                            
                        </td>
                        <td style="text-align: right;border-top: 0px" ng-if="dataModel.Id !== undefined && isCriteriaValidAllObjects('for recall button for sf.', section.Component.ComponentDetails[0].configuration.recallCriteria, dataModel, ctrl.dataModel)">
                            <div class="slds-truncate slds-align--absolute-center" >
                                <div class="slds-button-group" role="group">
                                    <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="dataModel.recalled = true; dataModel[section.Component.ComponentDetails[0].configuration.approvalDetailStatusField.name] = 'Recalled'" >
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Recall</span>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="type ==='detail' || section.readonly === true">
                    <tr >
                        <td style="font-weight: 700;border-top: 0px" translate ng-repeat="field in section.Component.ComponentDetails[0].configuration.fields" >
                            <div>{{ field.label }}</div>
                        </td>
                        <!--<td style="border-top: 0px;"></td>-->
                    </tr>
                    <tr ng-repeat="dataModel in dataModelList track by $index">
                        <td  style="border-top: 0px" ng-repeat="field in section.Component.fields">
                            <div field-readonly="true" sobject-component-field field="field" parent-ctrl="ctrl" model="dataModel" index="$index" criteria="field.criteria"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div ng-if="type !=='detail' && !section.readonly" style="width: 100%;" align="center">   
       
        <button type="button" class="slds-button slds-button--brand" ng-click="addItems();" ng-if="section.Component.ComponentDetails[0].configuration.allowAddMore === true && isCriteriaValidAllObjects('for addmore button.', section.Component.ComponentDetails[0].configuration.allowAddMoreCriteria, ctrl.dataModel)">
            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"/>
            </svg>
            Add more
        </button>
        <button type="button" ng-click="saveApprover()" ng-if="dataModelList.length > 0" class="slds-button slds-button--brand">
            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"/>
            </svg>
            Save
        </button>
        <button type="button" class="slds-button slds-button--neutral " ng-click="init()">
            <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#refresh"/>
            </svg>
            Reload
        </button>
    </div>
</div>