<div block-ui = "OtherChargeComponentBlock" style="min-height: 100px;"  class="slds-scrollable">
    <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="width: 100%;">
        <tbody ng-if="type !=='detail' && !section.readonly">
            <tr>
                <td style="font-weight: 700;border-top: 0px" translate ng-repeat="field in section.Component.fields">
                    <div ng-if="field.rendered">{{ field.label }}</div>
                </td>
                <td style="border-top: 0px;"></td>
            </tr>
            <tr ng-repeat="dataModel in dataModelList | filter: {isDeleted: false} track by $index">
                <td class="{{ 'td-'+field.SObjectField.type }} sobject-layout-field" style="border-top: 0px;" ng-repeat="field in section.Component.fields">
                    <div field-readonly="field.readonly" sobject-component-field field="field" parent-ctrl="ctrl" model="dataModel" index="$index" criteria="field.criteria"></div>
                </td>
                <td style="text-align: right;border-top: 0px">
                    <div class="slds-truncate slds-align--absolute-center" >
                        <div class="slds-button-group" role="group">
                            <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="dataModel['isDeleted'] = true" >
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Delete</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="{{ section.Component.fields.length + 1 }}" style="text-align: center;border-top: 0px;">
                    <button class="slds-button slds-button--brand" type="button" ng-click="addItems()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"/>
                        </svg>
                        Add more
                    </button>
                    <button class="slds-button slds-button--brand" type="button" ng-click="save()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"/>
                        </svg>
                        Save
                    </button>
                    <button class="slds-button slds-button--neutral " type="button" ng-click="init()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#refresh"/>
                        </svg>
                        Reload
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="type ==='detail' || section.readonly">
            <tr>
                <td style="font-weight: 700;border-top: 0px" translate ng-repeat="field in section.Component.fields">
                    <div ng-if="field.rendered">{{ field.label }}</div>
                </td>
                <td style="border-top: 0px;"></td>
            </tr>
            <tr ng-repeat="dataModel in dataModelList | filter: {isDeleted: false} track by $index">
                <td  style="border-top: 0px" ng-repeat="field in section.Component.fields">
                    <div field-readonly="true" sobject-component-field field="field" parent-ctrl="ctrl" model="dataModel" index="$index" criteria="field.criteria"></div>
                    <!--{{ (field.SObjectField.relationshipName !== null) ? dataModel[field.SObjectField.relationshipName].Name : dataModel[field.SObjectField.name]}}-->
                </td>
            </tr>
         </tbody>
    </table>
</div>