<div role="dialog" tabindex="-1" aria-labelledby="modalTitle" data-backdrop="static" class="slds-modal">
    <div class="slds-modal__container">
        <div class="slds-modal__header">
            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" ng-click="close()">
                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                </svg>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modalTitle" class="slds-text-heading--medium" translate>Attachment</h2>
        </div>
        <div class="slds-modal__content slds-p-around--medium">
            <div class="slds-col slds-size--1-of-1" block-ui="AttachmentBlock" style="min-height:150px"> 
            <div class="slds-grid" >
                <div class="slds-size--1-of-1">
                    <form class="slds-form--horizontal slds-p-horizontal--x-small">
                        <div class="slds-form-element" >
                            <label class="slds-form-element__label" style="font-weight: 600;float: none;" for="selectFile">Select the File to be attached</label>
                            <div class="slds-form-element__control slds-p-left--small">
                                <span 	id 				="selectFile"
                                        data-ng-show	= "!data.primaryDocument"
                                        class		    = "slds-button slds-button--brand slds-p-left--small" 
                                        name		    = "file"
                                        enctype		    = "multipart/form-data"
                                        data-ngf-select	= "data.selectFile($files, $invalidFiles)"
                                        ngf-max-size    = "{{data.allowedSize}}MB"
                                        accept		    = "{{data.allowedExt}}"
                                        style="cursor: pointer;"
                                        multiple>
                                        <span>Add </span><i class="pficon-file"></i> 
                                </span>
                                <span 	id 				="selectFile" 	
                                        data-ng-show	= "data.primaryDocument"
                                        class		    = "slds-button slds-button--brand slds-p-left--small" 
                                        name		    = "file"
                                        enctype		    = "multipart/form-data"
                                        data-ngf-select	= "data.selectFile($files, $invalidFiles)"
                                        ngf-max-size    = "{{data.allowedSize}}MB"
                                        accept		    = "{{data.allowedExtForPrime}}"
                                        style="cursor: pointer;    margin-left: 0px;"
                                        single>
                                        <span>Add </span><i class="pficon-file"></i>
                                </span> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="slds-col slds-size--1-of-1">
                <form class="slds-form--horizontal">
                    <div class="slds-form-element" style="margin-bottom: 5px;text-align: center;color:red;">
                        <label style="text-align: center;" data-ng-show="!data.primaryDocument" class="">{{ data.allowedExt }} format are supported.</label>
                        <label style="text-align: center;" data-ng-show="data.primaryDocument" class="">{{ data.allowedExtForPrime }} format are supported.</label>
                    </div>
                </form>
            </div>
            <div class="slds-col slds-size--1-of-1">
                <form class="slds-form--horizontal">
                    <div style="text-align: center;">
                        <label  class="">Note : Please limit your files to a maximum of {{data.allowedSize}}MB in size.</label>
                    </div>
                </form>
            </div>
            <div class="slds-col slds-size--1-of-1">
                <form class="">
                    <div class="">
                        <div class="panel panel-default" style="margin-bottom: -8px;">
                            <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem 1.5rem .5rem 1.5rem;border-bottom: 3px solid #d8dde6">
                                <h3 class="">Attachment Section</h3>
                            </div>
                            <div class="slds-panel__section slds-grid slds-border--bottom" ng-if="data.files" data-ng-show="data.files.length > 0">
                                <table fixed-header class="slds-table slds-table--compaq  slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;max-height:300px ;">
                                    <thead>
                                        <tr class="slds-text-title--caps">
                                            <th  title=""></th>
                                            <th  title="File">File</th>
                                            <th  title="Size in Bytes">Size in Bytes</th>
                                            <th  title="Upload">Upload</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="file in data.files ">
                                            <td style="width: 10%;" class="slds-truncate" data-label="Delete"  title=""><a href="" data-ng-click="data.deleteFile(file)">delete</a></td>
                                            <td style="width: 30%;max-width: 200px" class="slds-truncate" data-label="File"  title="{{file.name}}"><strong>{{ file.name }}</strong></td>
                                            <td style="width: 30%;max-width: 200px" class="slds-truncate" data-label="Size in Bytes"   title="{{ file.size }}">{{file.size}}</td>
                                            <td style="width: 30%;" data-label="Upload" >
                                                <!--<a href="" ng-show="!file.isPersisted" data-ng-click="attachFiles(file)" class ="btn btn-success fileinput-button dz-clickable">Upload</a> 
                                                <label data-ng-if="primaryFileName == file.name" style="margin-bottom: 0;">Primary Document</label>-->
                                                <button ng-show="!file.isPersisted"  class="slds-button slds-button--brand" type="button" ng-click="data.attachFiles(file)">
                                                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#upload"/>
                                                    </svg>
                                                    Upload
                                                </button>
                                                <label class="slds-form-element__label " data-ng-if="data.primaryFileName == file.name" style="margin-bottom: 0;font-weight: 600;float: none;">Primary Document</label>
                                                <!--<button class="btn btn-xs btn-primary" type="button" ng-click="newSObject(sObj)"><i class="fa fa-plus"></i> Add</button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="slds-grid  slds-grid--align-center slds-border--bottom" style="padding:20px 0px;" ng-if="data.files" data-ng-show="data.files.length == 0">
                                    <strong>No attachment found.</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral" ng-click="close()" translate>Cancel</button>
            <button class="slds-button slds-button--brand" ng-click="save()">
                <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                </svg>
                Save
            </button>
        </div>
    </div>
</div>
<div class="slds-backdrop"></div>