<div ng-if="type === 'create'">
	<div class="slds-col slds-size--1-of-1" block-ui="AttachmentBlock" style="min-height:100px"> 
	<div class="slds-grid" >
		<div class="slds-size--1-of-{{allowAttachPrime ? 2 : 1}}">
			<form class="slds-form--horizontal slds-p-horizontal--x-small">
				<div class="slds-form-element" >
					<label class="slds-form-element__label slds-form-element__label" style="font-weight: 600;float: none;" for="selectFile">Select the File to be attached</label>
					<div class="slds-form-element__control slds-p-left--small">
						<span 	id 				="selectFile"
								data-ng-show	= "!primaryDoc.primaryDocument"
								class		    = "slds-button slds-button--brand" 
								name		    = "file"
								enctype		    = "multipart/form-data"
								data-ngf-select	= "selectFile($files, $invalidFiles)"
								ngf-max-size    = "{{allowedSize}}MB"
								accept		    = "{{allowedExt}}"
								style="cursor: pointer;"
								multiple>
								<span>Add </span><i class="pficon-file"></i> 
						</span>
						<span 	id 				="selectFile" 	
								data-ng-show	= "primaryDoc.primaryDocument"
								class		    = "slds-button slds-button--brand" 
								name		    = "file"
								enctype		    = "multipart/form-data"
								data-ngf-select	= "selectFile($files, $invalidFiles)"
								ngf-max-size    = "{{allowedSize}}MB"
								accept		    = "{{allowedExtForPrime}}"
								style="cursor: pointer;    margin-left: 0px;"
								single>
								<span>Add </span><i class="pficon-file"></i>
						</span> 
					</div>
				</div>
			</form>
		</div>
		<div class="slds-size--1-of-{{allowAttachPrime ? 2 : 1}}">
			<form class="slds-form--horizontal slds-p-horizontal--x-small">
				<div class="slds-form-element">
					<label data-ng-show="allowAttachPrime" class="slds-form-element__label " style="font-weight: 600;float: none;" for="uploadPrimary">Upload Primary Document</label>
					<div class="slds-form-element__control slds-p-left--small" data-ng-show="allowAttachPrime" >
						<!--<span class="slds-checkbox">
							<input type="checkbox" data-ng-show="allowAttachPrime"  id="uploadPrimary" ng-model="primaryDoc.primaryDocument" data-ng-click="primaryDocumentClicked(primaryDoc.primaryDocument);" data-ng-disabled="disablePrimaryDocuent"/>
						</span>-->
						<span class="slds-checkbox">
							<input type="checkbox" name="options" id="uploadPrimary" ng-model="primaryDoc.primaryDocument" data-ng-click="primaryDocumentClicked(primaryDoc.primaryDocument);" data-ng-disabled="disablePrimaryDocuent" />
							<label class="slds-checkbox__label" for="uploadPrimary" style="width: 0px;height:0px;">
								<span class="slds-checkbox--faux" style="margin:0px"></span>
								<span class="slds-form-element__label"></span>
							</label>
						</span>
						<!--<input id="uploadPrimary" data-ng-show="allowAttachPrime" type="checkbox" ng-model="primaryDoc.primaryDocument" data-ng-click="primaryDocumentClicked(primaryDoc.primaryDocument);" data-ng-disabled="disablePrimaryDocuent" tooltip="Primary Document">-->
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="slds-col slds-size--1-of-1">
		<form class="slds-form--horizontal">
			<div class="slds-form-element" style="margin-bottom: 5px;text-align: center;color:red;">
				<label style="text-align: center;" data-ng-show="!primaryDoc.primaryDocument" class="">{{ allowedExt }} format are supported.</label>
				<label style="text-align: center;" data-ng-show="primaryDoc.primaryDocument" class="">{{ allowedExtForPrime }} format are supported.</label>
			</div>
		</form>
	</div>
	<div class="slds-col slds-size--1-of-1">
		<form class="slds-form--horizontal">
			<div style="text-align: center;">
				<label  class="">Note : Please limit your files to a maximum of {{allowedSize}}MB in size.</label>
			</div>
		</form>
	</div>
	<div class="slds-col slds-size--1-of-1">
		<form class="">
			<div class="">
				<div class="panel panel-default" style="margin-bottom: -8px;">
					<div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem 1.5rem .5rem 1.5rem;border-bottom: 3px solid #d8dde6">
						<h3 class="">Attachment Section</h3>
					</div>
					<div class="slds-panel__section slds-grid slds-border--bottom" ng-if="files" data-ng-show="files.length > 0">
						<table fixed-header class="slds-table slds-table--compaq  slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;max-height:300px ;">
							<thead>
								<tr class="slds-text-title--caps">
									<th  title=""></th>
									<th  title="File">File</th>
									<th  title="Size in Bytes">Size in Bytes</th>
									<th  title="Upload">Upload</th>
								</tr>
							</thead>
							<tbody >
								<tr ng-repeat="file in files ">
									<td style="width: 10%;" class="slds-truncate" data-label="Delete"  title=""><a href="" data-ng-click="deleteFile(file)">delete</a></td>
									<td style="width: 30%;max-width: 200px" class="slds-truncate" data-label="File"  title="{{file.name}}"><strong>{{ file.name }}</strong></td>
									<td style="width: 30%;max-width: 200px" class="slds-truncate" data-label="Size in Bytes"   title="{{ file.size }}">{{file.size}}</td>
									<td data-label="Upload" style="width: 30%;" >
										<!--<a href="" ng-show="!file.isPersisted" data-ng-click="attachFiles(file)" class ="btn btn-success fileinput-button dz-clickable">Upload</a> 
										<label data-ng-if="primaryFileName == file.name" style="margin-bottom: 0;">Primary Document</label>-->
										<button ng-show="!file.isPersisted"  class="slds-button slds-button--brand" type="button" ng-click="attachFiles(file)">
											<svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#upload"/>
											</svg>
											Upload
										</button>
										<label class="slds-form-element__label " data-ng-if="primaryFileName == file.name" style="margin-bottom: 0;font-weight: 600;float: none;">Primary Document</label>
										<!--<button class="btn btn-xs btn-primary" type="button" ng-click="newSObject(sObj)"><i class="fa fa-plus"></i> Add</button>-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="slds-grid  slds-grid--align-center " style="padding:20px 0px;" ng-if="files" data-ng-show="files.length == 0">
							<strong>No attachment found.</strong>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
<div ng-if="type !== 'create'" >
	<div class="slds-col slds-size--1-of-1" block-ui="AttachmentBlock" style="min-height:100px"> 
		<div class="slds-col slds-size--1-of-1" >
			<form class="slds-form--horizontal">
				<div class="slds-form-element">
						<center>
							<!--<button type="button" class="btn btn-primary" ng-disabled="type === 'detail'" ng-click="openAttachmentLookup()" style="margin-left:32%;"><i class="icon icon-file"></i> Attach File</button>-->
							<button class="slds-button slds-button--brand" ng-if="type !== 'detail'" type="button" ng-click="openAttachmentLookup()">
								<svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#file"/>
								</svg>
								Attach File
							</button>
						</center>
					<!--<button type="button" class="btn btn-primary" ng-show="allowAddAttach == 'true'" ng-click="showUploadAttachmentModal()" style="margin-left:32%;"><i class="icon icon-file"></i> Attach File</button>-->
				</div>
			</form>
		</div>
		<div class="slds-col slds-size--1-of-1">
			<form class="slds-form--horizontal">
				<div class="slds-form-element">
					<div class="panel panel-default" style="margin-bottom: -8px;">
						<!--<div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem 1.5rem .5rem 1.5rem;border-bottom: 3px solid #d8dde6">
							<h3 >Attachments</h3>
						</div>-->
						<div class="slds-panel__section slds-grid slds-border--bottom" ng-if="attachments" data-ng-show="(attachments | filter: {IsDeleted: false}).length > 0">
							<table fixed-header class="slds-table slds-table--compaq  slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;max-height:300px ;">
								<thead>
									<tr class="slds-text-title--caps">
										<th  title="" ng-if="type !== 'detail'">Delete</th>
										<th  title="Title">Title</th>
										<th  title="Size">Size</th>
										<th  title="ContentType">ContentType</th>
										<th style="text-align:center;width:100px;"  title="Download">Download</th>
									</tr>
								</thead>
								<tbody >
									<tr ng-repeat="attachment in attachments | filter: {IsDeleted: false}">
										<td style="width: 10%;" class="slds-truncate" data-label=""  title="{{attachment.Name}}" ng-if="type !== 'detail'">
											<label style="text-align: center;" class="col-md-2 " ng-if="type !== 'detail' && attachment.Description === currentUser"><a href="" data-ng-click="deleteAttachment(attachment)">delete</a></label>
											<label style="text-align: center;" class="col-md-2 " ng-if="type !== 'detail' && attachment.Description !== currentUser"> - </label>
										</td>
										<td style="width: 40%;max-width: 200px" class="slds-truncate" data-label="Title"  title="{{attachment.Name}}"><strong>{{ attachment.Name }}</strong></td>
										<td style="width: 10%;" class="slds-truncate" data-label="Size"   title="{{ sObj.name }}">{{attachment.BodyLength/1024 | number : 2}} KB</td>
										<td style="width: 20%;" class="slds-truncate" data-label="ContentType"   title="{{ sObj.ContentType }}">{{attachment.ContentType}}</td>
										<td style="width: 20%;" data-label="Download" >
											<div class="slds-truncate slds-align--absolute-center" >
												<div class="slds-button-group" role="group">
													<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="getFileData($root.encodeURI(attachment.Name),attachment.Body)" >
														<svg class="slds-button__icon" aria-hidden="true">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#download"></use>
														</svg>
														<span class="slds-assistive-text">Download</span>
													</button>
												</div>
											</div>
											<!--<button class="btn btn-xs btn-primary" type="button" ng-click="newSObject(sObj)"><i class="fa fa-plus"></i> Add</button>-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="slds-grid  slds-grid--align-center " style="padding:20px 0px;" ng-if="attachments" data-ng-show="(attachments | filter: {IsDeleted: false}).length == 0">
								<strong>No attachment found.</strong>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>