<div class="slds-page-header slds-page-header--object-home">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-user">
                        <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
                        </svg>
                    </span>
                </div>
                <div class="slds-media__body">
                    <p class="slds-text-title--caps slds-line-height--reset">Components</p>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="All tabs">{{ stateAction + ' ' + $root.title() }}</h1>
                </div>
            </div>
        </div>
        <div class="slds-col slds-no-flex slds-grid slds-align-top">
            <div class="slds-button-group" role="group">
                <button class="slds-button slds-button--neutral" ng-click="cancel()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                    </svg>
                    Back to components
                </button>
                <button class="slds-button slds-button--brand" ng-click="saveComponent()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                    </svg>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
<div class="slds-grid slds-wrap slds-scrollable--y slds-grid--vertical-align-start" block-ui="saveComponent" style="height: calc(100vh - 237px);">
    <div class="slds-size--1-of-1 slds-grid slds-wrap">
        <div class="slds-size--1-of-2 slds-p-around--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-lookup slds-size--1-of-1" data-select="single">
                            <label class="slds-form-element__label" for="approvalDetailSObject">Approval Detail SObject</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.approvalDetailSObject">
                                    <input readonly type="text" id="approvalDetailSObject" class="slds-lookup__search-input slds-input--bare" ng-model="component.approvalDetailSObject.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" ng-if="stateAction === 'Create'">
                                    <button ng-click="openApprovalDetailSObjectsLookup()" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for Approval Detail SObjects">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for Approval Detail SObjects</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-lookup slds-size--1-of-1" data-select="single">
                            <label class="slds-form-element__label" for="componentSObject">SObject</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.SObject">
                                    <input readonly type="text" id="componentSObject" class="slds-lookup__search-input slds-input--bare" ng-model="component.SObject.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" ng-if="stateAction === 'Create'">
                                    <button ng-click="openSObjectsLookup()" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for SObjects">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for SObjects</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="componentTitle">Title</label>
                            <input type="text" id="componentTitle" class="slds-input" ng-model="component.title" />
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="componentCatagory">Type</label>
                            <input type="text" id="componentCatagory" ng-disabled="true" class="slds-input" ng-model="component.catagory" />
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="appStatusField">Approval Detail Status Field</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.ComponentDetails[0].configuration.approvalDetailStatusField">
                                    <input readonly type="text" id="appStatusField" class="slds-lookup__search-input slds-input--bare" ng-model="component.ComponentDetails[0].configuration.approvalDetailStatusField.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" >
                                    <button ng-click="openApprovalDetailFieldListModel('approvalDetailStatusField',{type: 'picklist'})" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for Approval Detail">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for Approval Detail</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="appCycleField">Approval Detail Cycle Field</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.ComponentDetails[0].configuration.approvalDetailCycleField">
                                    <input readonly type="text" id="appCycleField" class="slds-lookup__search-input slds-input--bare" ng-model="component.ComponentDetails[0].configuration.approvalDetailCycleField.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" >
                                    <button ng-click="openApprovalDetailFieldListModel('approvalDetailCycleField')" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for Approval Detail">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for Approval Detail</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="cycleField">SObject Cycle Field</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.ComponentDetails[0].configuration.cycleField">
                                    <input readonly type="text" id="cycleField" class="slds-lookup__search-input slds-input--bare" ng-model="component.ComponentDetails[0].configuration.cycleField.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" >
                                    <button ng-click="openCycleFieldListModel()" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for Approval Detail">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for Approval Detail</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="recallButon">Recall</label>
                            <div class="slds-form-element__control" >
                                <button id="recallButon" ng-click="openRecallCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Recall Criteria</span>
                                </button>
                                <!--<a pf-tooltip if="recallButon" data-placement="right" title="Recall Criteria" ng-click="openRecallCriteriaModal()"><i class="fa fa-cogs"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="recallButon">Recall</label>
                            <div class="slds-form-element__control" >
                                <button id="recallButon" ng-click="openRecallCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Recall Criteria</span>
                                </button>
                                <!--<a pf-tooltip if="recallButon" data-placement="right" title="Recall Criteria" ng-click="openRecallCriteriaModal()"><i class="fa fa-cogs"></i></a>-->
                            <!--</div>
                        </div>
                    </div>
                </div>-->
            </fieldset>
        </div>
        <div class="slds-size--1-of-2 slds-p-around--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row"  ng-init="component.active = component.active ? component.active : false">
                        <div class="slds-form-element slds-size--1-of-1" style="padding-bottom: 8px;">
                            <label class="slds-form-element__label" for="componentActive">Active ?</label>
                            <slds-switch id="componentActive" ng-model="component.active" on-text="Yes" off-text="No" show-texts="false"/>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="componentDescription">Description</label>
                            <input type="text" id="componentDescription" class="slds-input" ng-model="component.description" />
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="relativeField">Select Relative Field</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <select id="relativeField" class="slds-select" ng-model="component.ComponentDetails[0].configuration.connectingField">
                                    <option value="">-- None --</option>
                                    <option ng-repeat="field in connectingFieldMap[component.SObject.name]" value="{{field.name}}" ng-selected="component.ComponentDetails[0].configuration.connectingField === field.name">{{field.label + ' [ ' + field.name + ' ] '}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'" ng-init="component.ComponentDetails[0].configuration.allowAddMore = (component.ComponentDetails[0].configuration.allowAddMore  === undefined) ? false : component.ComponentDetails[0].configuration.allowAddMore">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="allowAddMore">Allow Add More ?</label>
                            <div class="slds-form-element__control">
                                <!--<input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="allowAddMore" ng-model="component.ComponentDetails[0].configuration.allowAddMore">&nbsp;&nbsp;-->
                                <!--<a ng-if="component.ComponentDetails[0].configuration.allowAddMore === true" pf-tooltip data-placement="right" title="Add More Criteria" ng-click="openAddMoreCriteriaModal()"><i class="fa fa-cogs"></i></a>-->
                               
                                <div class="slds-form-element__control" style="float: left;">
                                    <slds-switch ng-model="component.ComponentDetails[0].configuration.allowAddMore"  show-texts="false" on-text="Yes" off-text="No"/>
                                </div>
                                <div class="slds-form-element__control" style="float: left;">
                                    <button ng-if="component.ComponentDetails[0].configuration.allowAddMore === true" ng-click="openAddMoreCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Add More Criteria</span>
                                    </button>
                                </div>
                                
                                <!--<slds-switch id="allowAddMore" ng-model="component.ComponentDetails[0].configuration.allowAddMore" on-text="Yes" off-text="No" show-texts="false"/>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'" ng-init="component.ComponentDetails[0].configuration.allowAddFinalApprover = (component.ComponentDetails[0].configuration.allowAddFinalApprover  === undefined) ? false : component.ComponentDetails[0].configuration.allowAddFinalApprover">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="allowAddFinalApprover">Allow Add Final Approver ?</label>
                            <div class="slds-form-element__control">
                               <!--<input type="checkbox" id="allowAddFinalApprover" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" ng-model="component.ComponentDetails[0].configuration.allowAddFinalApprover">&nbsp;&nbsp;
                                <a ng-if="component.ComponentDetails[0].configuration.allowAddFinalApprover === true" pf-tooltip data-placement="right" title="Add Final Approver Criteria" ng-click="openAddFinalApproverCriteriaModal()"><i class="fa fa-cogs"></i></a>&nbsp;&nbsp;-->
                                <div class="slds-form-element__control" style="float: left;">
                                    <slds-switch id="allowAddFinalApprover" ng-model="component.ComponentDetails[0].configuration.allowAddFinalApprover" on-text="Yes" off-text="No" show-texts="false"/>
                                </div>
                                <div class="slds-form-element__control" style="float: left;">
                                    <button ng-if="component.ComponentDetails[0].configuration.allowAddFinalApprover === true" ng-click="openAddFinalApproverCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Add Final Approver Criteria</span>
                                    </button>
                                </div>
                                <div class="slds-form-element__control" style="float: left;">
                                    <input class="slds-input" type="text" ng-if="component.ComponentDetails[0].configuration.allowAddFinalApprover === true" data-placement="top" title="Add number of Final Approvers. &#013;This should be between 1 to 5." placeholder="final approvers' count" is-number maxlength="1" ng-model="component.ComponentDetails[0].configuration.finalApproverAllowedCount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval' && component.ComponentDetails[0].configuration.allowAddFinalApprover === true" ng-init="component.ComponentDetails[0].configuration.allowAddFinalApprover = (component.ComponentDetails[0].configuration.allowAddFinalApprover  === undefined) ? false : component.ComponentDetails[0].configuration.allowAddFinalApprover">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="assignedRoleField">Select assigned role field</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <div class="slds-input-has-icon slds-grow">
                                    <input type="hidden" ng-model="component.ComponentDetails[0].configuration.assignedRoleField">
                                    <input readonly type="text" id="assignedRoleField" class="slds-lookup__search-input slds-input--bare" ng-model="component.ComponentDetails[0].configuration.assignedRoleField.label" />
                                </div>
                                <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none" >
                                    <button ng-click="openApprovalDetailFieldListModel('assignedRoleField',{type: 'picklist'})" class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button" aria-haspopup="true" title="Open lookup modal for Approval Detail">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Open lookup modal for assign role field</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group"  ng-if="component.catagory == 'MultiLevelApproval' && component.ComponentDetails[0].configuration.allowAddFinalApprover === true">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="finalApproverPicklistValue">Select final/approval picklist value</label>
                            <div class="slds-form-element__control slds-grid slds-box--border">
                                <select id="finalApproverPicklistValue" class="slds-select" ng-model="component.ComponentDetails[0].configuration.finalApproverPicklistValue">
                                    <option value="">-- None --</option>
                                    <option ng-repeat="picklistValue in component.ComponentDetails[0].configuration.assignedRoleField.picklistValues" value="{{picklistValue.value}}" ng-selected="component.ComponentDetails[0].configuration.finalApproverPicklistValue === picklistValue.value">{{picklistValue.label}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'" ng-init="component.ComponentDetails[0].configuration.readonly = (component.ComponentDetails[0].configuration.readonly  === undefined) ? false : component.ComponentDetails[0].configuration.readonly">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="isComponentReadOnly">Read Only ?</label>
                            <div class="slds-form-element__control" >
                                <div class="slds-form-element__control" style="float: left;">
                                    <slds-switch id="isComponentReadOnly" ng-model="component.ComponentDetails[0].configuration.readonly" on-text="Yes" off-text="No" show-texts="false"/>
                                </div>
                                <div class="slds-form-element__control" style="float: left;">
                                    <button ng-if="component.ComponentDetails[0].configuration.readonly === true" id="isComponentReadOnly" ng-click="openComponentReadOnlyCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Add Read Only Criteria</span>
                                    </button>
                                </div>
                                <!--<a pf-tooltip if="deleteButton" data-placement="right" title="Delete Criteria" ng-click="openDeleteCriteriaModal()"><i class="fa fa-cogs"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element__group" ng-if="component.catagory == 'MultiLevelApproval'">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="deleteButton">Delete</label>
                            <div class="slds-form-element__control" >
                                <button id="deleteButton" ng-click="openDeleteCriteriaModal()" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Delete Criteria</span>
                                </button>
                                <!--<a pf-tooltip if="deleteButton" data-placement="right" title="Delete Criteria" ng-click="openDeleteCriteriaModal()"><i class="fa fa-cogs"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="slds-size--1-of-1 slds-grid slds-wrap slds-m-bottom--large" ng-if="component.catagory == 'MultiLevelApproval'" ng-init="component.ComponentDetails[0].configuration.fields = component.ComponentDetails[0].configuration.fields ? component.ComponentDetails[0].configuration.fields : []">
        <article class="slds-card slds-size--1-of-1 " >
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container">
                            <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/doctype-sprite/svg/symbols.svg#attachment"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2><span class="slds-text-heading--small">Approval fields</span></h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body">
                <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th scope="col" style="width: 50px;">
                                #
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Label">Label</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Display Label">Display Label</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Reference">Reference</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Type">Type</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Default value">Default value</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Read Only">Read Only</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Required">Required</div>
                            </th>
                            <th scope="col" style="text-align: center; width: 50px;" >
                                <div class="slds-truncate" title="Actions">Actions</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody dnd-list="component.ComponentDetails[0].configuration.fields" dnd-allowed-types="['sObjectLayoutFields']">
                        <tr ng-if="component.ComponentDetails[0].configuration.fields.length === 0">
                            <td colspan="9" class="slds-blank-slate">No field added.</td>
                        </tr>
                        <tr class="dndPlaceholder" style="display: table-row !important">
                            <th colspan="9" style="background: #e1d951; text-align: center;" >
                                Move here
                            </th>
                        </tr>
                        <tr ng-repeat="field in component.ComponentDetails[0].configuration.fields"
                            dnd-draggable="field" 
                            dnd-effect-allowed="move" 
                            dnd-moved="component.ComponentDetails[0].configuration.fields.splice($index,1)" 
                            dnd-type="'sObjectLayoutFields'"  ng-init="field.readonly = false">
                            <td>{{ $index + 1 }}</td>
                            <td data-label="Label">{{ field.SObjectField.label }}</td>
                            <td data-label="Display Label">
                                <input type="text" class="slds-input" placeholder="{{field.SObjectField.label}}" ng-model="field.label" />
                            </td>
                            <td data-label="Reference" reference-field-selector field="field" ref-sobjects="refSObjects"></td>
                            <td data-label="Type">
                                <span class="slds-badge">{{ field.SObjectField.type + ((field.SObjectField.calculated) ? ' | formula' : '') }}</span>
                            </td>
                            <td data-label="Default value">
                                <div field-readonly="'false'" base-ctrl="ctrl" sobject-layout-field field="field" model="field.data"></div>
                            </td>
                            <td data-label="Read Only" ng-init="field.readOnly = field.readOnly ? field.readOnly : false">
                                <div class="slds-form-element__control" style="float: left;">
                                    <slds-switch ng-model="field.readOnly"  show-texts="false" on-text="Yes" off-text="No"/>
                                </div>
                                <div class="slds-form-element__control" style="float: left;" ng-if="field.readOnly === true" >
                                    <button  ng-click="openFieldReadOnlyCriteriaModal(field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Read Only Criteria</span>
                                    </button>
                                </div>
                                <!--<a href pf-tooltip data-placement="left" title="Read Only Criteria" ng-click="openFieldReadOnlyCriteriaModal(field,$index)"><i class="fa fa-cogs"></i></a>-->
                            </td>
                            <td data-label="Required"  ng-init="field.isRequired = field.isRequired ? field.isRequired : false">
                                <div class="slds-form-element__control" style="float: left;">
                                    <slds-switch ng-model="field.isRequired"  show-texts="false" on-text="Yes" off-text="No"/>
                                </div>
                                <div class="slds-form-element__control" style="float: left;" ng-if="field.isRequired === true" >
                                    <button  ng-click="openFieldRequiredCriteriaModal(field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Required Criteria</span>
                                    </button>
                                </div>
                                <!--<a href pf-tooltip data-placement="left" title="Required Criteria" ng-click="openFieldRequiredCriteriaModal(field,$index)"><i class="fa fa-cogs"></i></a>-->
                            </td>
                            <td data-label="Action" style="text-align: center;">
                                <div class="slds-truncate" ng-if="component.ComponentDetails[0].configuration.fields.length > 1" >
                                    <div class="slds-form-element__control" style="float: left;">
                                        <button title="Delete" class="slds-button slds-action-button slds-button--icon slds-button--icon-inverse slds-button--destructive" ng-click="component.ComponentDetails[0].configuration.fields.splice($index,1)">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Delete</span>
                                        </button>
                                    </div>
                                    <div class="slds-form-element__control" style="float: left;">
                                        <button  ng-click="openFieldCriteriaModal(field,$index)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#magicwand"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Criteria</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="slds-card__footer">
                <form class="slds-form--inline">
                    <div class="slds-form-element" style="float: left;">
                        <select class="slds-select" ng-model="fieldToAdd" ng-options="field as (field.label + ' [' + field.type + ((field.calculated) ? ' | formula' : '') + ']') for field in component.approvalDetailSObject.SObjectFields | orderBy:'label'">
                            <option value="">-- None --</option>
                        </select>
                    </div>
                    <div class="slds-form-element" style="float: left;">
                        <button type="button" ng-click="addToComponentFields(fieldToAdd)" class="slds-button slds-button--brand">Add</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <div class="slds-size--1-of-1 slds-grid slds-wrap slds-m-bottom--large" ng-if="component.catagory == 'UploadAttachment'">
        <div class="slds-size--1-of-2 slds-p-horizontal--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1" style="padding-bottom: 8px;">
                            <label class="slds-form-element__label" for="componentFileSize">Maximum File Size</label>
                            <input type="number" id="componentFileSize" class="slds-input" ng-model="component.ComponentDetails[0].configuration.allowedSize">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="slds-size--1-of-2 slds-p-horizontal--medium">
            <fieldset class="slds-form--compound">
                <div class="slds-form-element__group">
                    <div class="slds-form-element__row">
                        <div class="slds-form-element slds-size--1-of-1">
                            <label class="slds-form-element__label" for="allowPrimary">Allow Primary Document?</label>
                            <slds-switch id="allowPrimary" ng-model="component.ComponentDetails[0].configuration.allowAttachPrime" on-text="Yes" off-text="No" show-texts="false"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="slds-size--1-of-2 slds-p-horizontal--medium">
            <article class="slds-card">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container">
                                <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/doctype-sprite/svg/symbols.svg#attachment"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2><span class="slds-text-heading--small">Allowed File Extensions</span></h2>
                        </div>
                    </header>
                </div>
                <div class="slds-card__body">
                    <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                        <thead>
                            <tr class="slds-text-title--caps">
                                <th scope="col">
                                    <div class="slds-truncate" title="Extension">Extension</div>
                                </th>
                                <th scope="col" style="text-align: center;width: 50px;">
                                    <div class="slds-truncate" title="Action">Action</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="slds-hint-parent" ng-repeat="ext in allowedExtentions">
                                <td data-label="Extension">
                                    <div class="slds-truncate" title="{{ ext }}">{{ ext }}</div>
                                </td>
                                <td data-label="Actions">
                                    <div class="slds-truncate slds-align--absolute-center" >
                                        <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="allowedExtentions.splice($index,1);concatAllowedExtentions();">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="slds-card__footer">
                    <form class="slds-form--inline">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="txtAllowExt">Extension</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="txtAllowExt" class="slds-input" ng-model="allowExt" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <button type="button" ng-disabled="!allowExt" ng-click="addAllowedExtentions(allowedExtentions,allowExt);allowExt='';concatAllowedExtentions();" class="slds-button slds-button--brand">Add</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        <div class="slds-size--1-of-2 slds-p-horizontal--medium">
            <article class="slds-card" ng-if="component.ComponentDetails[0].configuration.allowAttachPrime">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container">
                                <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/doctype-sprite/svg/symbols.svg#attachment"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2><span class="slds-text-heading--small">Allowed File Extensions For Primary</span></h2>
                        </div>
                    </header>
                </div>
                <div class="slds-card__body">
                    <table class="slds-table slds-table--bordered slds-no-row-hover slds-table--cell-buffer">
                        <thead>
                            <tr class="slds-text-title--caps">
                                <th scope="col">
                                    <div class="slds-truncate" title="Extension">Extension</div>
                                </th>
                                <th scope="col" style="text-align: center;width: 50px;">
                                    <div class="slds-truncate" title="Action">Action</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="slds-hint-parent" ng-repeat="ext in allowedExtentionsForPrime">
                                <td data-label="Extension">
                                    <div class="slds-truncate" title="{{ ext }}">{{ ext }}</div>
                                </td>
                                <td data-label="Actions">
                                    <div class="slds-truncate slds-align--absolute-center" >
                                        <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="allowedExtentionsForPrime.splice($index,1);concatAllowedExtentionsForPrime()">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="slds-card__footer">
                    <form class="slds-form--inline">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="txtallowExtForPriamry">Extension</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="txtallowExtForPriamry" class="slds-input" ng-model="allowExtForPriamry" />
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <button type="button" ng-disabled="!allowExtForPriamry" ng-click="addAllowedExtentions(allowedExtentionsForPrime,allowExtForPriamry);allowExtForPriamry='';concatAllowedExtentionsForPrime();" class="slds-button slds-button--brand">Add</button>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>

<!--<div ng-if="false">
<div class="col-md-12">
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
            <a href ng-click="cancel()"><span class="fa fa-chevron-circle-left"></span> Back to components</a>&nbsp;&nbsp;
            <button class="btn btn-primary" type="button" ng-click="saveComponent()"><i class="fa fa-check"></i> Save</button>
        </div>
        <h1>{{ stateAction + ' ' + $root.title() }}</h1>
    </div>
</div>

<div block-ui="saveComponent">
    <div class="col-md-12">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentSObject">SObject</label>
                    <div class="input-group col-md-7">
                        <input type="hidden" ng-model="tab.SObject">
                        <input type="text" id="componentSObject" class="form-control" ng-model="component.SObject.label" readonly>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openSObjectsLookup()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentTitle">Title</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentTitle" class="form-control" ng-model="component.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentCatagory">Type</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentCatagory" ng-disabled="true" class="form-control" ng-model="component.catagory">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentActive">Active ?</label>
                    <div class="input-group col-md-7">
                        <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="componentActive" ng-model="component.active">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentDescription">Description</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentDescription" class="form-control" ng-model="component.desc">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="component.catagory == 'UploadAttachment'">
        <div class="col-md-12">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="componentFileSize">Maximum File Size</label>
                        <div class="input-group col-md-7">
                            <input type="number" id="componentFileSize" placeholder="Maximum file size in MB" class="form-control" ng-model="component.ComponentDetails[0].configuration.allowedSize">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="allowPrimary">Allow Primary Document?</label>
                        <div class="input-group col-md-7">
                            <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="allowPrimary" ng-model="component.ComponentDetails[0].configuration.allowAttachPrime">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="allowedExt">Allowed Extensions</label>
                        <div class="input-group col-md-7">
                            <table class="table table-hover" style="margin-bottom:0px;">
                                <tbody>
                                    <tr ng-repeat="ext in allowedExtentions">
                                        <td>{{ ext }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="allowedExtentions.splice($index,1);concatAllowedExtentions();">
                                                <i class="pficon-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <input type="text" ng-model="allowExt"/>
                                            <button style="margin-top: -4px;" type="button" class="btn btn-primary" ng-disabled="!allowExt" ng-click="addAllowedExtentions(allowedExtentions,allowExt);allowExt='';concatAllowedExtentions();">
                                                <i class="pficon-plus"></i> Add
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="allowedExtForPrime">Extensions For Primary</label>
                        <div class="input-group col-md-7">
                            <table class = "table table-spriped table-hover table-condensed" ng-if="component.ComponentDetails[0].configuration.allowAttachPrime">
                                <tbody>
                                    <tr ng-repeat="ext in allowedExtentionsForPrime">
                                        <td>{{ ext }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="allowedExtentionsForPrime.splice($index,1);concatAllowedExtentionsForPrime()">
                                                <i class="pficon-delete"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <input type="text" ng-model="allowExtForPriamry"/>
                                            <button style="margin-top: -4px;" type="button" class="btn btn-primary" ng-disabled="!allowExtForPriamry" ng-click="addAllowedExtentions(allowedExtentionsForPrime,allowExtForPriamry);allowExtForPriamry='';concatAllowedExtentionsForPrime();">
                                                <i class="pficon-plus"></i> Add
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>-->