<div class="col-md-12">
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
            <a href ng-click="cancel()"><span class="fa fa-chevron-circle-left"></span> Back to components</a>&nbsp;&nbsp;
            <button class="btn btn-primary" type="button" ng-click="saveComponent()"><i class="fa fa-check"></i> Save</button>
        </div>
        <h1>{{ stateAction + ' ' + $root.title() }}</h1>
    </div>
</div>

<div block-ui="saveComponent">
    <div class="col-md-12">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentSObject">Dependent Layout SObject</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentSObject" class="form-control" ng-model="component.parent.label" readonly>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openSObjectsLookup(true)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentTitle">Title</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentTitle" class="form-control" ng-model="component.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentCatagory">Name</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentCatagory" ng-disabled="true" class="form-control" ng-model="component.name">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentActive">Active ?</label>
                    <div class="input-group col-md-7">
                        <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="componentActive" ng-model="component.active">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="componentDescription">Description</label>
                    <div class="input-group col-md-7">
                        <input type="text" id="componentDescription" class="form-control" ng-model="component.desc">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="component.name == 'Cost Allocation Component'">
        <div class="col-md-12">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="componentChildSObject">Line Item SObject</label>
                        <div class="input-group col-md-7">
                            <input type="text" id="componentChildSObject" class="form-control" ng-model="component.child.label" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openSObjectsLookup(false)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" style="padding: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lookup fields<span class="pull-right badge badge-info">{{ component.fields.length }}</span></h3>
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <table class="table table-striped table-hover" style="margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th style="width: 50px;">#</th>
                                <th>Label</th>
                                <th>Display Label</th>
                                <th>Reference</th>
                                <th style="width: 200px;">Type</th>
                                <th>Read Only</th>
                                <th>Required</th>
                                <th style="text-align: center; width: 50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody dnd-list="component.fields" dnd-allowed-types="['sObjectLayoutFields']">
                            <tr ng-if="component.fields.length === 0"><td colspan="6" style="text-align: center;">No field added.</td></tr>
                            <tr ng-repeat="field in component.fields"
                                dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="component.fields.splice($index,1)" dnd-type="'sObjectLayoutFields'">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ field.SObjectField.label }}</td>
                                <td><input type="text" class="form-control input-xs" placeholder="{{field.SObjectField.label}}" ng-model="field.label" /></td>
                                <td reference-field-selector field="field" ref-sobjects="refSObjects"></td>
                                <td>{{ field.SObjectField.type + ((field.SObjectField.calculated) ? ' | formula' : '') }}</td>
                                <td>
                                    <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isReadOnly" switch-change="onChangeReadonly(field);" ng-model="field.readonly">
                                </td>
                                 <td>
                                    <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isRequired" switch-change="onChangeRequired(field);" ng-model="field.required">
                                </td>
                                <td style="text-align: center;">
                                    <span class="pull-right">
                                        <button pf-tooltip title="Delete" class="btn btn-xs btn-danger" type="button" ng-if="component.fields.length > 1" ng-click="component.fields.splice($index,1)"><i class="pficon-delete"></i></button>
                                        <a href pf-tooltip data-placement="left" title="Criteria" ng-click="openFieldCriteriaModal(field,$index)"><i class="fa fa-cogs"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <select pf-select class="form-control" ng-model="fieldToAdd" ng-options="field as (field.label + ' [' + field.type + ((field.calculated) ? ' | formula' : '') + ']') for field in sObjectFields | orderBy:'label'">
                                    <option value="">-- None --</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-disabled="!fieldToAdd" ng-click="addToComponentFields(fieldToAdd)">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="component.name == 'Other Charge Component'">
        <div class="col-md-12">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-5 control-label" for="componentChildSObject">Line Item SObject</label>
                        <div class="input-group col-md-7">
                            <input type="text" id="componentChildSObject" class="form-control" ng-model="component.child.label" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openSObjectsLookup(false)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" style="padding: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Lookup fields<span class="pull-right badge badge-info">{{ component.fields.length }}</span></h3>
                </div>
                <div class="panel-body" style="padding: 0px;">
                    <table class="table table-striped table-hover" style="margin-bottom:0px;">
                        <thead>
                            <tr>
                                <th style="width: 50px;">#</th>
                                <th>Label</th>
                                <th>Display Label</th>
                                <th>Reference</th>
                                <th style="width: 200px;">Type</th>
                                <th>Read Only</th>
                                <th>Required</th>
                                <th style="text-align: center; width: 50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody dnd-list="component.fields" dnd-allowed-types="['sObjectLayoutFields']">
                            <tr ng-if="component.fields.length === 0"><td colspan="6" style="text-align: center;">No field added.</td></tr>
                            <tr ng-repeat="field in component.fields"
                                dnd-draggable="field" dnd-effect-allowed="move" dnd-moved="component.fields.splice($index,1)" dnd-type="'sObjectLayoutFields'">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ field.SObjectField.label }}</td>
                                <td><input type="text" class="form-control input-xs" placeholder="{{field.SObjectField.label}}" ng-model="field.label" /></td>
                                <td reference-field-selector field="field" ref-sobjects="refSObjects"></td>
                                <td>{{ field.SObjectField.type + ((field.SObjectField.calculated) ? ' | formula' : '') }}</td>
                                <td>
                                    <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isReadOnly" switch-change="onChangeReadonly(field);" ng-model="field.readonly">
                                </td>
                                <td>
                                    <input type="checkbox" bs-switch class="bootstrap-switch" switch-size="small" switch-on-text="Yes" switch-off-text="No" id="isRequired" switch-change="onChangeRequired(field);" ng-model="field.required">
                                </td>
                                <td style="text-align: center;">
                                    <span class="pull-right">
                                        <button pf-tooltip title="Delete" class="btn btn-xs btn-danger" type="button" ng-if="component.fields.length > 1" ng-click="component.fields.splice($index,1)"><i class="pficon-delete"></i></button>
                                        <a href pf-tooltip data-placement="left" title="Criteria" ng-click="openFieldCriteriaModal(field,$index)"><i class="fa fa-cogs"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <select pf-select class="form-control" ng-model="fieldToAdd" ng-options="field as (field.label + ' [' + field.type + ((field.calculated) ? ' | formula' : '') + ']') for field in sObjectFields | orderBy:'label'">
                                    <option value="">-- None --</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-disabled="!fieldToAdd" ng-click="addToComponentFields(fieldToAdd)">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>