<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="alertModalLabel" translate>{{ title }}</h4>
            </div>
            <div class="modal-body row">
                <div class="col-xs-1 col-sm-1 col-md-1">
                    <span ng-class="icon" style="font-size: 40px;"></span>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11" style="font-weight: 600; white-space: pre-line;word-wrap: break-word;" translate>{{ message }}</div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" ng-click="close()" translate>OK</button>
            </div>
        </div>
    </div>
</div>