<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{ $root.title() }}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Edit {{ $root.title() }} Detail">Edit {{ $root.title() }} Detail</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                
                <button ng-disabled="(language.aspect !== 'Fixed Label' && !language.SObject.label) || !language.aspect" class="slds-button slds-button--brand" type="button" ng-click="viewLanguageDetails()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#preview"/>
                    </svg>
                    View</button>
                <button ng-disabled="(language.aspect !== 'Fixed Label' && !language.SObject.label) || !language.aspect" class="slds-button slds-button--brand" type="button" ng-click="exportLanguageTranslation()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#upload"/>
                    </svg>
                    Export</button>
                <file-field ng-disabled="(language.aspect !== 'Fixed Label' && !language.SObject.label) || !language.aspect" class="slds-button slds-button--brand" callback="importLanguageTranslation" allowed-ext="'.csv'" ng-model="language.translationMappingFile">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#download"/>
                    </svg>
                    Import</file-field>
                <button ng-disabled="(language.aspect !== 'Fixed Label' && !language.SObject.label) || !language.aspect || language.code == 'eng' || (language.code == 'eng' && language.aspect === 'Fixed Label')" class="slds-button slds-button--brand" type="button" ng-click="automateLanguageTranslation()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#replace"/>
                    </svg>
                    Auto Translate</button>
                <button class="slds-button slds-button--neutral" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" >
        <article class="slds-card slds-size--1-of-1">
            <div class=" slds-border--top slds-border--bottom" block-ui="saveLanguage" style="background: white;">
                <div class="slds-size--1-of-1 slds-panel__section" style="padding-right:20%">
                    <div class="slds-form--horizontal">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="inputLanguage">Language</label>
                            <div class="slds-form-element__control">
                                <input type="hidden" ng-model="language">
                                <input type="text" id="inputLanguage" class="slds-input" placeholder="Language" ng-model="language.name" readonly>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="inputLanguageCodeLabel">Language Code</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="inputLanguageCodeLabel" class="slds-input" placeholder="Language Code" ng-model="language.code" readonly>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">SObject</label>
                            <div class="slds-form-element__control">
                                <input type="hidden" ng-model="language.SObject">
                                <div class="slds-grid slds-box--border"  >
                                    <div class="slds-input-has-icon slds-grow">
                                        <input readonly type="text" 
                                            class="slds-lookup__search-input slds-input--bare" 
                                            ng-model="language.SObject.label" />
                                    </div>
                                    <div ng-if="language.aspect !== 'Fixed Label' ? true : language.SObject = undefined" class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none">
                                        <button ng-click="openSObjectsLookup()" 
                                            class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button"
                                            aria-haspopup="true" 
                                            title="Open lookup">
                                            <svg class="slds-button__icon" aria-hidden="true">
                                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Open lookup</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Aspect</label>
                            <div class="slds-form-element__control">
                                <select class="slds-select slds-p-horizontal--x-small" ng-model="language.aspect" >
                                    <option value="" selected>-- None --</option>
                                    <option value="Field Label">Field Label</option>
                                    <option value="Layout Sections">Layout Sections</option>
                                    <option value="Fixed Label">Fixed Label</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </article>
    </div>
        <div ng-if="language.translations !== undefined" class="slds-card slds-size--1-of-1" style="height: calc(100vh - 416px);">
            <div class="slds-grid slds-scrollable--y" >
                <table  class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="height: calc(100vh - 238px);">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th scope="col" >
                                <div class="slds-truncate" title="#">#</div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Label">Label</div>
                            </th>
                            <th scope="col" >
                                <div class="slds-truncate" title="Translation">Translation</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="!language.translations || language.translations.length == 0">
                            <td colspan="3" class="slds-blank-slate">
                                <h1>No translation available.</h1>
                            </td>
                        </tr>
                        <tr ng-repeat="translation in language.translations">
                            <td data-label="#">
                                <div class="slds-truncate" title="{{ $index + 1  }}">{{ $index + 1  }}</div>
                            </td>
                            <td data-label="Label">
                                <div class="slds-truncate" title="{{ translation.label }}"><strong>{{ translation.label }}</strong></div>
                            </td>
                            <td data-label="Translation">
                                <div class="slds-truncate" title="{{ translation.translation }}">{{ translation.translation }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>