<div class="slds-p-horizontal--small slds-size--2-of-2 slds-medium-size--6-of-6 slds-large-size--12-of-12">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{$root.title()}}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ 'Sobjects Govern Fields' }}">Sobjects Govern Fields</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <div class="slds-button-group" role="group">
                    <button class="slds-button slds-button--neutral" ng-click="returnToList()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                        </svg>
                        Back to list
                    </button>
                    <button class="slds-button slds-button--brand" ng-click="refreshResults()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                        </svg>
                        Refresh Results
                    </button>
                </div>
            </div>
        </div>
        <!--<div class="actions pull-right">
            <a href="#" ng-click="refreshResults()" ng-disabled="'true'"><span class="pficon pficon-refresh"></span> Refresh Results</a>
        </div>
        <h1>{{ $root.title() }}</h1>-->
    </div>

    <div class="slds-grid slds-wrap  " block-ui="sObjectActions">
        <div class="slds-col slds-size--5-of-12 slds-border" style="border: 1px solid #00A8E1;">
                <div class="slds-grid slds-page-header " style="margin: 0.3rem;padding: 0.3rem; background-color: #00A8E1;">
                    <div class="slds-col slds-align-middle">
                        <p class="slds-text-title--caps slds-line-height--reset ng-binding" style="color:white"><b>Local sObjects Govern Fields</b></p>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"/>
                                </svg>
                                <input class="slds-input ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search Sobject..." ng-model="sfdcSObjectsFilter" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-scrollable" block-ui="describeSObjects" style="min-height: calc(100vh - 296px);"  >
                    <table fixed-header class="slds-table slds-table--compaq  slds-table--bordered slds-table--cell-buffer slds-table--striped" style="margin-bottom:0px;height: calc(100vh - 339px);">
                        <thead>
                            <tr class="slds-text-title--caps">
                                <th style="white-space:normal !important;max-width:250px" title="Label">Label</th>
                                <th style="white-space:normal !important;max-width:250px !important" title="Api Name">Api Name</th>
                                <th style="white-space:normal !important;" title="Custom">Custom</th>
                                <th style="white-space:no-wrap !important;text-align:center;min-width:100px;"  title="Actions">Actions
                                    <span class="slds-checkbox">
                                        <input type="checkbox" ng-model="data.chkLocalObjGvrnFieldSelectAll" id="chkLocalObjGvrnFieldSelectAll" ng-click="callObjGvrnFieldSelectAll(data.chkLocalObjGvrnFieldSelectAll, sfdcSObjectFields)" />
                                        <label class="slds-checkbox__label" for="chkLocalObjGvrnFieldSelectAll" style="width: 0px;height:0px;">
                                            <span class="slds-checkbox--faux" style="margin:0px"></span>
                                            <span class="slds-form-element__label"></span>
                                        </label>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="sObj in sfdcSObjectFields | filter: { label : sfdcSObjectsFilter}">
                                <td class="slds-truncate" data-label="Label" style="white-space:normal !important;max-width:250px" title="{{ sObj.label }}"><strong>{{ sObj.label }}</strong></td>
                                <td class="slds-truncate" data-label="Api Name" style="white-space:normal !important;max-width:250px !important"  title="{{ sObj.name }}">{{ sObj.name }}</td>
                                <td data-label="Custom" style="white-space:normal !important;">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObj.custom" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </td>
                                <td data-label="Action" style="white-space:normal !important;" >
                                    <div class="slds-truncate slds-align--absolute-center" >
                                        <div class="slds-button-group" role="group" ng-init="sObj.isChecked = false">
                                            <!--<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="newSObjectFields(sObj)" >
                                                <svg class="slds-button__icon" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                                </svg>
                                                <span class="slds-assistive-text">Add</span>
                                            </button>-->
                                            <span class="slds-checkbox">
                                                <input type="checkbox" ng-model="sObj.isChecked" id="{{ sObj }}" ng-click="syncObjGvrnFieldCheckbox('chkLocalObjGvrnFieldSelectAll', sfdcSObjectFields)" />
                                                <label class="slds-checkbox__label" for="{{ sObj }}" style="width: 0px;height:0px;">
                                                    <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                    <span class="slds-form-element__label"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                    <!--<button class="btn btn-xs btn-primary" type="button" ng-click="newSObject(sObj)"><i class="fa fa-plus"></i> Add</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="slds-col slds-has-flexi-truncate" ng-if="sfdcSObjectFields.length === 0">
                        <div class=" slds-no-space slds-grow" align="center" style="padding-top:100px ">
                            <div style="padding:20px 0px">
                                <span class="slds-icon_container slds-icon-standard-user">
                                    <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="">
                                <h1 style="margin:0px" class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ 'No sObject Govern Fields added.' }}">No sObject Govern Fields added.</h1>
                                <p class="slds-text-title--caps slds-line-height--reset"> Go to <a href="" ng-click="manage()"><strong>sObjects Tab</strong></a> to configure <strong>Mobile sObjects Fields</strong>.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="slds-col slds-size--0.5-of-12 slds-border" style="min-height: calc(100vh - 242px);-webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-content: center; align-content: center; text-align: center; vertical-align: middle;" >
            <div style="padding-top:50%;min-height: calc(100vh - 242px);">
                <div class="slds-form-element">
                    <button class="slds-button slds-button--brand" type="button" ng-click="newSObjectFields()" style="margin-bottom: 10%;">&nbsp;&nbsp;>>&nbsp;&nbsp;</button>
                </div>
                <div class="slds-form-element">
                    <button class="slds-button slds-button--neutral" type="button" ng-click="deleteSObjects()" style="margin-top: 10%;">&nbsp;&nbsp;<<&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size--5-of-12 slds-border" style="border: 1px solid #3F9C35;" >
                <div class="slds-grid slds-page-header " style="margin: 0.3rem;padding: 0.3rem;background-color: #3F9C35;">
                    <div class="slds-col slds-align-middle">
                        <p class="slds-text-title--caps slds-line-height--reset ng-binding" style="color:white"><b>Mobile sObjects Fields</b></p>
                    </div>
                    <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                                <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"/>
                                </svg>
                                <input class="slds-input ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search Sobject..." ng-model="sObjectsFilter" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-scrollable" block-ui="loadSObjects" style="min-height: calc(100vh - 296px);" >
                    <table fixed-header  class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" ng-if="sObjectFields.length > 0" style="margin-bottom:0px;height: calc(100vh - 339px);">
                            <thead>
                                <tr class="slds-text-title--caps">
                                    <th style="white-space:normal !important;max-width:250px" title="Label">Label</th>
                                    <th style="white-space:normal !important;max-width:250px !important" title="Api Name">Api Name</th>
                                    <th style="white-space:normal !important;" title="Custom">Custom</th>
                                    <th style="white-space:no-wrap !important;text-align:center;min-width:100px;"  title="Actions">Actions
                                        <span class="slds-checkbox">
                                            <input type="checkbox" ng-model="data.chkMobileObjGvrnFieldSelectAll" id="chkMobileObjGvrnFieldSelectAll" ng-click="callObjGvrnFieldSelectAll(data.chkMobileObjGvrnFieldSelectAll, sObjectFields)" />
                                            <label class="slds-checkbox__label" for="chkMobileObjGvrnFieldSelectAll" style="width: 0px;height:0px;">
                                                <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                <span class="slds-form-element__label"></span>
                                            </label>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="sObj in sObjectFields | filter: { label : sObjectsFilter}">
                                    <td class="slds-truncate" data-label="Label" style="white-space:normal !important;max-width:250px" title="{{sObj.label}}"><strong>{{ sObj.label }}<strong></td>
                                    <td class="slds-truncate" data-label="Api Name" style="white-space:normal !important;max-width:250px !important;" title="{{sObj.name}}" title="{{sObj.name}}">{{ sObj.name }}</td>
                                    <td data-label="Custom" style="white-space:normal !important;">
                                        <svg class="slds-button__icon slds-button__icon--left" ng-if="sObj.custom" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                        </svg>
                                    </td>
                                      <td data-label="Action" style="white-space:normal !important;">
                                        <div class="slds-truncate " style="text-align:right">
                                            <div ng-init="sObj.isChecked = false">
                                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="syncRefSObjectsFields(sObj)" ng-if="dependentSObjectsFields(sObj).length > 0">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Refresh</span>
                                                </button>
                                                <span class="slds-checkbox">
                                                    <input type="checkbox" ng-model="sObj.isChecked" id="{{ sObj }}" ng-click="syncObjGvrnFieldCheckbox('chkMobileObjGvrnFieldSelectAll', sObjectFields)" />
                                                    <label class="slds-checkbox__label" for="{{ sObj }}" style="width: 0px;height:0px;">
                                                        <span class="slds-checkbox--faux" style="margin:0px"></span>
                                                        <span class="slds-form-element__label"></span>
                                                    </label>
                                                </span>
                                                <!--<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="deleteSObject(sObj)">
                                                    <svg class="slds-button__icon" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                                    </svg>
                                                    <span class="slds-assistive-text">Delete</span>
                                                </button>-->
                                            </div>
                                        </div>
                                        <!--<button class="btn btn-xs btn-primary" ng-click="syncRefSObjects(sObj)" ng-if="lookupSObjects(sObj).length > 0" type="button"><i class="pficon-refresh"></i></button>
                                        <button class="btn btn-xs btn-danger" type="button" ng-click="deleteSObject(sObj)"><i class="pficon-delete"></i> Delete</button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--<div class="blank-slate-pf" ng-if="sObjects.length === 0" style="margin-bottom: 0px;height: 100%">
                            <div class="blank-slate-pf-icon">
                                <span class="pficon pficon-add-circle-o"></span>
                            </div>
                            <h1>No sObject added.</h1>
                            <p>Add <strong>Salesforce sObject</strong> from left panel.</p>
                        </div>-->
                        <div class="slds-col slds-has-flexi-truncate" ng-if="sObjectFields.length === 0">
                            <div class=" slds-no-space slds-grow" align="center" style="padding-top:100px ">
                                <div style="padding:20px 0px">
                                    <span class="slds-icon_container slds-icon-standard-user">
                                        <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="">
                                    <h1 style="margin:0px" class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ 'No sObject Govern Fields added.' }}">No sObject Govern Fields added.</h1>
                                    <p class="slds-text-title--caps slds-line-height--reset">Add <strong>Salesforce sObject Fields</strong> from left panel.</p>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>
