<div class="panel-group" id="accordion-markup" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-markup" href="#dashboardComponentContainers">
                    Containers 
                </a>
            </h4>
        </div>
        <div id="dashboardComponentContainers" class="panel-collapse collapse in">
            <div class="panel-body" style="overflow-x: auto;background-color: white;">
                <ul class="nav nav-pills nav-stacked">
                    <li dnd-draggable="container" dnd-effect-allowed="copy" draggable="true" dnd-type="'ClientDashbordContainer'" ng-repeat="container in containers | orderBy: 'label'">
                        <a href="" class="draggable-item"><i></i>{{ container.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="components">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-markup" href="#clientDashboardMyTaskComponents" class="collapsed">
                    My Task Components
                </a>
            </h4>
        </div>
        <div id="clientDashboardMyTaskComponents" class="panel-collapse collapse">
            <div class="panel-body" style="max-height: 400px;overflow-x: auto;background-color: white;">
                <ul class="nav nav-pills nav-stacked">
                    <li dnd-draggable="component" 
                        dnd-effect-allowed="copy" 
                        draggable="true" 
                        dnd-type="'ClientDashbordMyTaskContainerComponent'" 
                        ng-repeat="component in components | filter: { catagory : 'DashboardMyTask'} ">
                        <a href="" class="draggable-item"><i></i>{{ component.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-markup" href="#clientDashboardChartComponents" class="collapsed">
                    Chart Components
                </a>
            </h4>
        </div>
        <div id="clientDashboardChartComponents" class="panel-collapse collapse">
            <div class="panel-body" style="max-height: 400px;overflow-x: auto;background-color: white;">
                <ul class="nav nav-pills nav-stacked">
                    <li dnd-draggable="component" 
                        dnd-effect-allowed="copy" 
                        draggable="true" 
                        dnd-type="'layoutSection'" 
                        ng-repeat="component in components()">
                        <a href="" class="draggable-item"><i></i>{{ 'component.title' }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
    <!--<div class="panel panel-default" ng-if="layout.type === 'Edit' || layout.type === 'Details'">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-markup" href="#layoutRelatedLists" class="collapsed">
                    Related Lists
                </a>
            </h4>
        </div>
        <div id="layoutRelatedLists" class="panel-collapse collapse" block-ui="childSObjects">
            <div class="panel-body" style="max-height: 400px; overflow-x: auto; background-color: white;">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="relatedList in layoutRelatedLists"
                        dnd-draggable="relatedList"
                        dnd-effect-allowed="copy"
                        draggable="true"
                        dnd-type="'relatedList'">
                        <a href="" class="draggable-item"><i></i>{{ relatedList.title }}</a>
                    </li>
                </ul>
                <span ng-if="layoutRelatedLists.length === 0" style="color: red;">No Related list found!</span>
            </div>
        </div>
    </div>-->
    <!--<div class="panel panel-default" ng-if="widgetsValues" block-ui="widgets">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-markup" href="#layoutWidgets" class="collapsed">
                    Widgets
                </a>
            </h4>
        </div>
        <div id="layoutWidgets" class="panel-collapse collapse">
            <div class="panel-body" style="max-height: 400px;overflow-x: auto;background-color: white;">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="widgetValue in widgetsValues"
                        dnd-draggable="widgetValue"
                        dnd-effect-allowed="copy"
                        draggable="true"
                        dnd-type="'layoutSection'">
                        <a href="" class="draggable-item"><i></i>{{ widgetValue.title }}</a></li>
                </ul>
            </div>
        </div>
    </div>-->
</div>