<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#groups"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">User Roles</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ $root.title() }}">{{ $root.title() }}</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <button class="slds-button slds-button--brand" ng-click="createUsers()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>
                    Create
                </button>
                <button class="slds-button slds-button--brand" ng-click="syncUsers()">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#sync"></use>
                    </svg>
                    Sync
                </button>
            </div>
        </div>
        <div class="slds-grid">
            <div class="slds-col slds-align-bottom">
                <p class="slds-text-body--small">Total <span ng-bind-template="{{$root.filteredUsers.length}}">0</span> item(s).</p>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
                <div class="slds-form-element">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
                        <svg class="slds-input__icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                        </svg>
                        <input type="text" class="slds-input" placeholder="Search users..." ng-model="usersFilter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-scrollable--y" block-ui="loadUsers" style="height: calc(100vh - 269px);">
        <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="height: calc(100vh - 303px);">
            <thead>
                <tr class="slds-text-title--caps">
                    <th scope="col">
                        <div class="slds-truncate" title="Username">Username</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="First name">First name</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Last name">Last name</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Email">Email</div>
                    </th>
                    <th scope="col">
                        <div class="slds-truncate" title="Role">Role</div>
                    </th>
                    <th scope="col" style="text-align: center;width: 50px;">
                        <div class="slds-truncate" title="Active">Active</div>
                    </th>
                    <th scope="col" style="text-align: center;width: 130px;">
                        <div class="slds-truncate" title="Actions">Actions</div>
                    </th>
                </tr> 
            </thead>
            <tbody >
                <tr ng-if="users.length === 0">
                    <td colspan="8" class="slds-blank-slate"><div class="slds-truncate slds-align--absolute-center">No User found.</div></td>
                </tr>
                <tr ng-if="users.length > 0 && $root.filteredUsers.length === 0">
                    <td colspan="8" class="slds-blank-slate"><div class="slds-truncate slds-align--absolute-center">No User found for applied filter.</div></td>
                </tr>
                <tr ng-repeat="user in $root.filteredUsers = (users | filter: usersFilter)">
                    <td data-label="Username">
                        <div class="slds-truncate" title="{{ user.username }}">
                            <strong>{{ user.username }}<strong>
                        </div>
                    </td>
                    <td data-label="First name">
                        <div class="slds-truncate" title="{{ user.firstname }}"> {{ user.firstname }} </div>
                    </td>
                    <td data-label="First name">
                        <div class="slds-truncate" title="{{ user.lastname }}"> {{ user.lastname }} </div>
                    </td>
                    <td data-label="First name">
                        <div class="slds-truncate" title="{{ user.email }}"> {{ user.email }} </div>
                    </td>
                    <td data-label="First name">
                        <div class="slds-truncate" title="{{ user.Role.name }}">
                            <strong> {{ user.Role.name }} </strong>
                        </div>
                    </td>
                    <td data-label="Active" style="text-align: center;">
                        <div class="slds-truncate">
                            <svg class="slds-button__icon slds-button__icon--left" ng-if="user.active" aria-hidden="true">
                                <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                        </div>
                    </td>
                    <td data-label="Actions" style="text-align: center;">
                        <div class="slds-truncate slds-align--absolute-center" >
                            <div class="slds-button-group" role="group">
                                <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="editUser(user)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Edit</span>
                                </button>
                                <!--<button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error" ng-click="deleteUser(user)">
                                    <svg class="slds-button__icon" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Delete</span>
                                </button>-->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<div class="col-md-12">
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
            <button class="btn btn-primary" ng-click="syncUsers()" ><i class="fa fa-refresh"></i> Sync</button>
        </div>
        <h1><i class="fa fa-users"></i> {{ $root.title() }}</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-users"></i> Users
                <div class="actions pull-right">
                    <input class="form-control" ng-model="usersFilter" placeholder="Search" style="font-weight: normal;margin-top: -5px"></input>
                </div>
            </h3>
        </div>
        <div class="panel-body" block-ui="loadUsers" style="padding:0px;height: 427px;overflow: auto;">
            <table fixed-header class="table table-striped table-hover table-bordered" style="height: {{ (users.length===0) ? 0 : 400 }}px;">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th style="text-align: center;width: 50px;">Active</th>
                        <th style="text-align: center;width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="user in users | filter: usersFilter">
                        <td><strong>{{ user.username }}<strong></td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td><strong>{{ user.Role.name }}</strong></td>
                        <td style="text-align: center;"><i class="{{ (user.active) ? 'fa fa-check' : '' }}"></i></td>
                        <td style="text-align: center;">
                            <button class="btn btn-xs btn-danger" type="button" ng-click="deleteUser(user)"><i class="pficon-delete"></i> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="blank-slate-pf" ng-if="!users || users.length === 0" style="margin-bottom: 0px;height: 373px;">
                <div class="blank-slate-pf-icon">
                    <span class="fa fa-users"></span>
                </div>
                <h1>No user found.</h1>
            </div>
        </div>
    </div>
</div>-->