<div class="panel panel-default" ng-if="section.rendered">
    <div class="panel-heading">
        <h3 class="panel-title" translate>{{ section.title}}</h3>
    </div>
    <div class="panel-body row">
        <div ng-if="section.isComponent" class="col-xs-12 col-sm-12 col-md-12" type="{{type}}" component section="section" ctrl="baseCtrl">
        </div>
        <div ng-if="!section.isComponent" ng-repeat="(fIndex, fields) in section.columns" class="col-xs-{{12/section.columns.length}} col-sm-{{12/section.columns.length}} col-md-{{12/section.columns.length}}">
            <div ng-repeat="field in fields">
                <form class="form-horizontal" ng-if="field.rendered != false">
                    <div class="form-group sobject-layout-field" >
                        <label class="col-sm-{{ section.columns.length > 1 ? (fIndex == 0 ? 7 : 4) : 5 }} control-label" for="{{field.SObjectField.name + $index}}" translate>{{ field.label}}</label>
                        <div class="col-sm-{{ section.columns.length > 1 ? (fIndex == 0 ? 5 : 5) : 5 }}"><div  field-readonly="{{field.readonly}}" sobject-layout-field base-ctrl="baseCtrl" field="field" model="model" index="$index"></div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>