<div ng-if="field.rendered">
    <textarea   id="{{ field.SObjectField.name + index}}"
                ng-model="field.value"
                class="slds-textarea"
                style="resize: none;"
                rows="3"
                ng-required="isFieldRequired(field)"
                ng-if="!field.readonly">
    </textarea>
    <label ng-if="field.readonly" class="slds-form-element__label" style="white-space: pre-line; margin-top:.2rem;margin-bottom: 0;" ng-bind-html="field.value"></label>
    <!--<textarea   id="{{ field.SObjectField.name + index}}"
                ng-model="field.value"
                class="slds-textarea"
                style="resize: none;border: none;margin-top: -3px; -webkit-box-shadow: none;box-shadow: none;"
                rows="3"
                readonly="readonly"
                ng-if="field.readonly">
    </textarea>-->
</div>