<!--<div    pf-datetimepicker 
        datetime="field.value"
        id="{{ field.SObjectField.name + index}}" 
        options="{}"></div>-->
<div ng-if="field.rendered" ng-class="{'ng-invalid-val' : (isFieldRequired(field) && !field.readonly && (!field.value || field.value === undefined || field.value === ''))}">            
     <div class="slds-form-element__control" ng-if="!field.readonly">
           <div class="slds-input-has-icon slds-input-has-icon--right">
                <svg aria-hidden="true" class="slds-icon slds-input__icon slds-icon--x-small">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="slds221/assets/icons/utility-sprite/svg/symbols.svg#event"/>
                </svg>
                <input readonly datepicker-type="datetime" class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label" ng-model='field.value'  li-datepicker />
            </div>
        </div>
    <!--<span ng-if="field.readonly" ng-bind="field.value | date: 'medium'">--</span>-->
    <label ng-if="field.readonly" class="slds-form-element__label" style="margin-top:.2rem;margin-bottom: 0;" ng-bind="$root.formateDateAndDateTime(field.value,$root.user().TimeZone.code, $root.user().Locale.name, $root.user().Locale.dateTimeFormat) | date: 'medium'"></label>
</div>
<!--REPLACE WITH FOLLOWING WHILE USING DATETIME-->

<!--<div class="input-group date">
    <input  type="text" 
        class="form-control"
        datetimepicker
        datetimepicker-options = "{icons:{next:'fa fa-angle-double-right',previous:'fa fa-angle-double-left',up:'fa fa-chevron-up',down:'fa fa-chevron-down'}}"
        id="{{ field.SObjectField.name + index}}"
        ng-model="field.value" />
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>        -->
        
<!--<div class="input-group date">
    <input  type="hidden" 
            ng-model="field.value">
    <input  type="text" 
            id="{{ field.SObjectField.name + index}}" 
            class="form-control"
            datetimepicker 
            ng-model="field.label">
    <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
</div>-->