<div ng-if="field.rendered" ng-class="{'ng-invalid-val' : (isFieldRequired(field) && !field.readonly && (!field.value || field.value === undefined || field.value === ''))}">
        <!--<div    pf-datepicker 
                date="field.value"
                id="{{ field.SObjectField.name + index}}" 
                options="{autoclose: true, todayBtn: 'linked', todayHighlight: true}"
                ng-if="!field.readonly"></div>-->

        <div class="slds-form-element__control" ng-if="!field.readonly">
           <div class="slds-input-has-icon slds-input-has-icon--right">
                <svg aria-hidden="true" class="slds-icon slds-input__icon slds-icon--x-small">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="slds221/assets/icons/utility-sprite/svg/symbols.svg#event"/>
                </svg>
                <input readonly class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label" ng-model='field.value'  li-datepicker />
            </div>
        </div>
        <!--<span ng-if="field.readonly" ng-bind="field.value | date: 'mediumDate'"></span>-->
        <label ng-if="field.readonly" class="slds-form-element__label" style="margin-top:.2rem;margin-bottom: 0;" ng-bind="$root.formateDateAndDateTime(field.value,$root.user().TimeZone.code, $root.user().Locale.name, $root.user().Locale.dateFormat) | date: 'mediumDate'"></label>
</div>