<div ng-if="field.rendered">
        <input  class="bootstrap-touchspin slds-input" 
                id="{{ field.SObjectField.name + index }}" 
                type="text" 
                pf-touch-spin 
                ng-model="field.value" 
                name="{{ field.SObjectField.name + index }}" 
                ng-if="!field.readonly"
                ng-required="isFieldRequired(field)"
                readonly>
        <span ng-if="field.readonly" ng-bind="field.value | number: 0"></span>
</div>