<div ng-if="field.rendered" ng-class="{'ng-invalid-val' : (isFieldRequired(field) && !field.readonly && (!field.value || field.value === undefined || field.value === ''))}">
    <div class="slds-grid slds-box--border" ng-if="!field.readonly  && (field.disabled ==undefined || field.disabled==false)">
        <div class="slds-input-has-icon slds-grow">
            <input type="hidden" ng-model="field.value">
            <input readonly type="text" id="{{ field.SObjectField.name + index}}" 
                class="slds-lookup__search-input slds-input--bare" 
                ng-model="field.labelValue" />
        </div>
        <div class="slds-align-middle slds-m-left--xx-small slds-m-right--xx-small slds-shrink-none">
            <button ng-click="openLookup()" 
                class="slds-button slds-button--icon-border slds-button--icon-small slds-util-button"
                aria-haspopup="true" 
                title="Open lookup">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                </svg>
                <span class="slds-assistive-text">Open lookup</span>
            </button>
        </div>
    </div>
    <div  ng-if="field.disabled==true">
        <input  type="hidden" 
                ng-model="field.value">
        <span class="slds-form-element__label" ng-bind="field.labelValue"></span>
    </div>
    <span class="slds-form-element__label" ng-if="field.readonly && (field.disabled ==undefined || field.disabled==false)" ng-bind="field.labelValue "></span>
</div>