<div block-ui="relatedList_{{ model.id }}_{{index}}" class="slds-form--stacked slds-grow" ng-if="rendered" style="margin: 0px 1px;margin-bottom:5px;border: 2px solid #d8dde6;">
    <div class="slds-panel__section slds-has-divider--bottom slds-section-title--divider" style="padding: .5rem 1.5rem .5rem 1.5rem;border-bottom: 3px solid #d8dde6">
            <h3 translate>{{ model.title }}</h3>
    </div>
    <div >
        <div class="slds-panel__section slds-grid slds-p-around--none slds-border--bottom" style="max-height:250px;overflow:auto" >
            <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped"  >
                <thead>
                    <tr class="slds-text-title--caps">
                        <th style="font-weight: 600" scope="col" class="th-sortable {{ 'th-'+field.SObjectField.type }}" 
                            ng-class="{'th-sorted': predicate === field.SObjectField.name}" 
                            ng-click="applyOrderBy(field)" 
                            ng-repeat="field in model.SObjectLayoutFields">
                            {{ field.label }} 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in searchResult" class="search-result-tr" style="cursor: {{ (recordActions && recordActions.length > 0) ? 'pointer;' : 'auto;' }}">
                        <td class="{{ 'td-'+field.SObjectField.type }}"  ng-repeat="field in model.SObjectLayoutFields">
                            <div class="slds-truncate">
                            {{ (field.SObjectField.type === 'reference') 
                                ? result[field.SObjectField.relationshipName][field.reference] 
                                : (field.SObjectField.type === 'double' || field.SObjectField.type === 'currency') 
                                    ? (result[field.SObjectField.name] | number: field.SObjectField.scale) 
                                    : (field.SObjectField.type === 'date') 
                                        ? ($root.formateDateAndDateTime(result[field.SObjectField.name],$root.user().TimeZone.code, $root.user().Locale.name, $root.user().Locale.dateFormat) | date: 'mediumDate')
                                        : (field.SObjectField.type === 'datetime')
                                            ? ($root.formateDateAndDateTime(result[field.SObjectField.name],$root.user().TimeZone.code, $root.user().Locale.name, $root.user().Locale.dateTimeFormat) | date: 'medium')
                                            : (field.SObjectField.name == "Field" && sObjectMetaData[result[field.SObjectField.name]] != undefined)  ? sObjectMetaData[result[field.SObjectField.name]] : result[field.SObjectField.name] }}
                            </div>
                        </td>                            
                    </tr>
                    <tr ng-if="searchResult.length === 0">
                        <td colspan="{{model.SObjectLayoutFields.length}}" class="slds-blank-slate"   style="padding:5px;text-align:center" translate>No Record found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
         <div class="slds-grid slds-grid--align-spread slds-theme--shade slds-p-around--small" style="padding-top: 5px;padding-bottom: 5px;">
            <div style="width: 230px;">
                <select class="slds-select" data-style="btn-default page-dropdown" ng-model="pageSize" ng-change="search(1,pageSize)" ng-options="size as size for size in [25,50,100,200]" id="pageSize">
                </select>
            </div>
            <div class="slds-button-group" role="group">
                <button class="slds-button slds-button--neutral" ng-disabled="currentPage <= 1 || !searchResult || (currentPage <= 1 && searchResult.length === 0)" ng-click="search(currentPage - 1, pageSize)">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                    </svg>
                    {{'Previous' | translate}}
                </button>
                <button class="slds-button slds-p-horizontal--medium">{{currentPage}}</button>
                <button class="slds-button slds-button--neutral" ng-disabled="currentPage < 1 || !searchResult || searchResult.length === 0 || hasMore === false || searchResult.length < pageSize" ng-click="search(currentPage + 1, pageSize)">
                    {{'Next' | translate}}
                    <svg class="slds-button__icon slds-button__icon--right" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!--<div  ng-if="rendered == !rendered">
        <div class="slds-panel__section slds-grid slds-p-around--none slds-border--bottom" style="padding:0px;">
            <table fixed-header class="table table-striped table-hover table-bordered" >
                <thead>
                    <tr>
                        <th class="th-sortable {{ 'th-'+field.SObjectField.type }}" 
                            ng-class="{'th-sorted': predicate === field.SObjectField.name}" 
                            ng-click="applyOrderBy(field)" 
                            ng-repeat="field in model.SObjectLayoutFields">
                            {{ field.label }} 
                            <i ng-class="{'fa fa-angle-down': !reverse,'fa fa-angle-up': reverse}" 
                            ng-if="predicate === field.SObjectField.name"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="result in searchResult" class="search-result-tr" style="cursor: {{ (recordActions && recordActions.length > 0) ? 'pointer;' : 'auto;' }}">
                        <td class="{{ 'td-'+field.SObjectField.type }}"  ng-repeat="field in model.SObjectLayoutFields">
                            {{ (field.SObjectField.type === 'reference') 
                                ? result[field.SObjectField.relationshipName][field.reference] 
                                : (field.SObjectField.type === 'double' || field.SObjectField.type === 'currency') 
                                    ? (result[field.SObjectField.name] | number: field.SObjectField.scale) 
                                    : (field.SObjectField.type === 'date') 
                                        ? (result[field.SObjectField.name] | date: 'mediumDate')
                                        : (field.SObjectField.type === 'datetime')
                                            ? (result[field.SObjectField.name] | date: 'medium')
                                            : (field.SObjectField.name == "Field" && sObjectMetaData[result[field.SObjectField.name]] != undefined)  ? sObjectMetaData[result[field.SObjectField.name]] : result[field.SObjectField.name] }}
                        </td>                            
                    </tr>
                    <tr ng-if="searchResult.length === 0">
                        <td colspan="{{model.SObjectLayoutFields.length}}" class="slds-blank-slate"   style="padding:5px;text-align:center" translate>No Record found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-10">
                    <label for="pageSize" style="margin-right: 5px;">Page size</label>
                    <select pf-select data-style="btn-default page-dropdown" ng-model="pageSize" ng-change="search(1,pageSize)" ng-options="size as size for size in [25,50,100,200]" id="pageSize">
                    </select>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search(currentPage - 1, pageSize)" ng-disabled="currentPage <= 1 || !searchResult || (currentPage <= 1 && searchResult.length === 0)"><i class="fa fa-angle-left"></i> Previous</button>
                        </span>
                        <input type="text" readonly class="form-control" style="text-align: center;" ng-model="currentPage">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search(currentPage + 1, pageSize)" ng-disabled="currentPage < 1 || !searchResult || searchResult.length === 0 || hasMore === false || searchResult.length < pageSize">Next <i class="fa fa-angle-right"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>