<div class="slds-page-header slds-page-header--object-home">
    <div class="slds-grid">
        <div class="slds-col slds-has-flexi-truncate">
            <div class="slds-media slds-no-space slds-grow">
                <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-standard-user">
                        <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
                        </svg>
                    </span>
                </div>
                <div class="slds-media__body">
                    <p class="slds-text-title--caps slds-line-height--reset">Components</p>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="All tabs">{{ $root.title() }}</h1>
                </div>
            </div>
        </div>
        <div class="slds-col slds-no-flex slds-grid slds-align-top">
            <div slds-dropdown-menu class="slds-dropdown-trigger--button slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
                <button class="slds-button slds-button--brand">
                    <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>
                    Create Component
                </button>
                <div class="slds-dropdown slds-dropdown--right slds-dropdown--small">
                    <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__header" role="separator">
                            <span class="slds-text-title--caps">{{ $root.title() }}</span>
                        </li>
                        <li class="slds-has-divider--top-space" role="separator"></li>
                        <!--<li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" tabindex="0" ng-click="create('DashboardChart')">
                                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-left--small slds-shrink-none" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#metrics"></use>
                                </svg>
                                <span class="slds-truncate">Chart Component</span>
                            </a>
                        </li>-->
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" tabindex="0" ng-click="create('DashboardMyTask')">
                                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-left--small slds-shrink-none" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#mark_all_as_read"></use>
                                </svg>
                                <span class="slds-truncate">My Task Component</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="slds-grid slds-scrollable--y" block-ui="loadComponents" style="height: calc(100vh - 237px);">
    <table fixed-header class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped" style="height: calc(100vh - 273px);">
        <thead>
            <tr class="slds-text-title--caps">
                <th scope="col"><div class="slds-truncate" title="Component Title">Component Title</div></th>
                <th scope="col"><div class="slds-truncate" title="Description">Description</div></th>
                <th scope="col"><div class="slds-truncate" title="Type">Type</div></th>
                <th scope="col" style="text-align: center;width: 50px;"><div class="slds-truncate" title="Active">Active</div></th>
                <th scope="col" style="text-align: center;width: 150px;"><div class="slds-truncate" title="Actions">Actions</div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="components.length === 0">
                <td colspan="8" class="slds-blank-slate"><div class="slds-truncate slds-align--absolute-center">No components configured.</div></td>
            </tr>
            <tr ng-repeat="component in components | filter: componentsFilter" ng-dblclick="edit(component)">
                <td data-label="Component Title">
                    <div class="slds-truncate" title="{{ component.title }}">{{ component.title }}</div>
                </td>
                <td data-label="Description">
                    <div class="slds-truncate" title="{{ component.desc }}">{{ component.desc }}</div>
                </td>
                <td data-label="Type">
                    <div class="slds-truncate" title="{{ component.catagory }}">{{ component.catagory }}</div>
                </td>
                <td data-label="Active" style="text-align: center;">
                    <div class="slds-truncate">
                        <svg class="slds-button__icon slds-button__icon--left" ng-if="component.active" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                        </svg>
                    </div>
                </td>
                <td data-label="Actions" style="text-align: center;">
                    <div class="slds-truncate slds-align--absolute-center" >
                        <div class="slds-button-group" role="group">
                            <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" ng-click="edit(component)">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                                </svg>
                                <span class="slds-assistive-text">Edit</span>
                            </button>
                            <button ng-click="deleteComponent(component)" class="slds-button slds-button--icon-border-filled slds-button--icon-x-small slds-button--icon-error">
                                <svg class="slds-button__icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Delete</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--<div class="col-md-12">
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="createComponent" data-toggle="dropdown">
                <i class="fa fa-plus"></i> Create Component
            </button>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="createComponent">
                <li role="presentation"><a href="#" role="menuitem" tabindex="-1" ng-click="create('DashboardChart')">Dashboard Chart Component</a></li>
                <li role="presentation"><a href="#" role="menuitem" tabindex="-1" ng-click="create('DashboardMyTask')">Dashboard My Task Component</a></li>
            </ul>
        </div>
        <h1><i class="fa fa-dashboard"></i> {{ $root.title() }}</h1>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-dashboard"></i> {{ $root.title() }}
                <div class="actions pull-right">
                    <input class="form-control" ng-model="componentsFilter" placeholder="Search" style="font-weight: normal;margin-top: -5px"></input>
                </div>
            </h3>
        </div>
        <div class="panel-body" block-ui="loadComponents" style="height:400px;overflow: auto;padding:0px;">
            <table class="table table-striped table-hover table-bordered" ng-if="components.length > 0" style="margin-bottom:0px;">
                <thead>
                    <tr>
                        <th>Component Title</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th style="text-align: center;width: 50px;">Active</th>
                        <th style="text-align: center;width: 150px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="component in components | filter: componentsFilter" ng-dblclick="edit(component)">
                        <td>{{ component.title }}</td>
                        <td>{{ component.desc }}</td>
                        <th>{{ component.catagory }}</th>
                        <td style="text-align: center;"><i ng-class="{'fa fa-check' : component.active }"></i></td>
                        <td style="text-align: center;">
                            <button class="btn btn-xs btn-info" type="button" ng-click="edit(component)"><i class="pficon-edit"></i> Edit</button>
                            <button class="btn btn-xs btn-danger" type="button" ng-click="deleteComponent(component)"><i class="pficon-delete"></i> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="blank-slate-pf" ng-if="components.length === 0" style="margin-bottom: 0px;height: 100%">
                <div class="blank-slate-pf-icon">
                    <span class="pficon pficon-add-circle-o"></span>
                </div>
                <h1>No Component configured.</h1>
                <p>Click <strong>Create Component</strong> to configure new <strong>Component</strong>.</p>
            </div>
        </div>
    </div>
</div>-->