<div ng-if="field.rendered" ng-class="{'ng-invalid-val' : (isFieldRequired(field) && (!field.value || field.value === undefined || field.value === ''))}">
        <select pf-select="{size:10,noneSelectedText:'-- None --'}"
                id="{{field.SObjectField.name + index}}"
                ng-model="field.value" 
                multiple="multiple"
                ng-required="isFieldRequired(field)"
                ng-options="pvalue.value as pvalue.label for pvalue in field.SObjectField.picklistValues"
                ng-if="!field.readonly">
        </select>
        <span ng-if="field.readonly" ng-bind="field.value"></span>
</div>