<div ng-if="field.rendered">
    <textarea   id="{{ field.SObjectField.name + index}}"
                ng-model="field.value"
                class="form-control"
                style="resize: none;"
                rows="3"
                ng-required="isFieldRequired(field)" 
                ng-if="!field.readonly">
    </textarea>
    <textarea   id="{{ field.SObjectField.name + index}}"
                ng-model="field.value"
                class="form-control"
                style="resize: none;border: none;margin-top: -3px; -webkit-box-shadow: none;box-shadow: none;"
                rows="3"
                readonly="readonly"
                ng-required="isFieldRequired(field)" 
                ng-if="field.readonly">
    </textarea>
</div>