<div class="slds-col slds-size--1-of-1">
    <div class="slds-page-header slds-page-header--object-home">
        <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-user">
                            <svg class="slds-icon slds-p-around--xx-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <p class="slds-text-title--caps slds-line-height--reset">{{$root.title()}}</p>
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="{{ sObject.label }}">{{ sObject.label }}</h1>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <div class="slds-button-group" role="group">
                    <button class="slds-button slds-button--neutral" ng-click="returnToList()">
                        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                            <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#chevronleft"></use>
                        </svg>
                        Back to list
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid slds-panel slds-wrap slds-scrollable--y slds-p-horizontal--large slds-p-vertical--medium" style="height: calc(100vh - 237px);">
        <article class="slds-card slds-size--1-of-1">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-datadotcom slds-p-around--xx-small" title="description of icon when needed">
                            <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#description"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2><span class="slds-text-heading--small">Header Information</span></h2>
                    </div>
                </header>
            </div>
            <style>.slds-form-element > .slds-form-element__label{font-weight: 600;}</style>
            <div class="slds-card__body slds-border--top slds-border--bottom" style="background: white;margin-bottom: 0;">
                <div class="slds-size--1-of-1 slds-grid slds-wrap slds-panel__section" block-ui="sObjectDetails">
                    <div class="slds-size--1-of-2">
                        <div class="slds-form--horizontal">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Label</label>
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label">{{ sObject.label }}</label>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Api name</label>
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label">{{ sObject.name }}</label>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Custom</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.custom" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Deletable</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.deletable" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Queryable</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.updateable" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-size--1-of-2">
                        <div class="slds-form--horizontal">
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Label Plural</label>
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label">{{ sObject.labelPlural }}</label>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Key Prefix</label>
                                <div class="slds-form-element__control">
                                    <label class="slds-form-element__label">{{ sObject.keyPrefix }}</label>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Createable</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.createable" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Updateable</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.updateable" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="slds-form-element">
                                <label class="slds-form-element__label">Layoutable</label>
                                <div class="slds-form-element__control">
                                    <svg class="slds-button__icon slds-button__icon--left" ng-if="sObject.layoutable" aria-hidden="true">
                                        <use  xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-card__footer slds-clearfix"></div>
        </article>
        <article class="slds-card slds-size--1-of-1">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-datadotcom slds-p-around--xx-small" title="description of icon when needed">
                            <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2><span class="slds-text-heading--small">Standard fields</span></h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-border--top slds-border--bottom" style="margin-bottom: 0;">
                <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th style="text-align: right;">#</th>
                            <th>Label</th>
                            <th>Api Name</th>
                            <th>Datatype</th>
                            <th style="text-align: right;">Length</th>
                            <th style="text-align: center;">Auto number</th>
                            <th style="text-align: center;">Required</th>
                            <th style="text-align: center;">Unique</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in sObjectFields | filter: {custom: false}">
                            <td style="text-align: right;">{{ $index + 1 }}</td>
                            <td><strong>{{ field.label }}</strong></td>
                            <td>{{ field.name }}</td>
                            <td>{{ field.type }}</td>
                            <td style="text-align: right;">{{ field.length }}</td>
                            <td style="text-align: center;"><i class="{{ (field.autoNumber) ? 'fa fa-check' : '' }}"></i></td>
                            <td style="text-align: center;"><i class="{{ (field.nillable) ? '' : 'fa fa-check' }}"></i></td>
                            <td style="text-align: center;"><i class="{{ (field.unique) ? 'fa fa-check' : '' }}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="slds-card__footer slds-clearfix"></div>
        </article>
        <article class="slds-card slds-size--1-of-1">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-datadotcom slds-p-around--xx-small" title="description of icon when needed">
                            <svg class="slds-icon slds-icon--small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apex"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2><span class="slds-text-heading--small">Custom fields</span></h2>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-border--top slds-border--bottom" style="margin-bottom: 0;">
                <table class="slds-table slds-table--compaq slds-table--bordered slds-table--cell-buffer slds-table--striped">
                    <thead>
                        <tr class="slds-text-title--caps">
                            <th style="text-align: right;">#</th>
                            <th>Label</th>
                            <th>Api Name</th>
                            <th>Datatype</th>
                            <th>Reference To</th>
                            <th style="text-align: right;">Length</th>
                            <th style="text-align: center;">Auto number</th>
                            <th style="text-align: center;">Formula</th>
                            <th style="text-align: center;">Required</th>
                            <th style="text-align: center;">Unique</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="field in sObjectFields | filter: {custom: true}">
                            <td style="text-align: right;">{{ $index + 1 }}</td>
                            <td><strong>{{ field.label }}</strong></td>
                            <td>{{ field.name }}</td>
                            <td>{{ field.type }}</td>
                            <td>{{ field.referenceTo.toString() }}</td>
                            <td style="text-align: right;">{{ field.length }}</td>
                            <td style="text-align: center;"><i class="{{ (field.autoNumber) ? 'fa fa-check' : '' }}"></i></td>
                            <td style="text-align: center;"><i class="{{ (field.calculated) ? 'fa fa-check' : '' }}"></i></td>
                            <td style="text-align: center;"><i class="{{ (field.nillable) ? '' : 'fa fa-check' }}"></i></td>
                            <td style="text-align: center;"><i class="{{ (field.unique) ? 'fa fa-check' : '' }}"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="slds-card__footer slds-clearfix"></div>
        </article>
    </div>
</div>


<!--<style>
    .col-left {
        text-align: right;
        font-weight: 600;
    }
    
    .details-block > .row {
        border-top: 1px solid #d1d1d1;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .details-block > .row:nth-child(1) {
        border-top: 0px solid #d1d1d1;
    }
</style>
<div class="col-md-12">
    
    <div class="page-header page-header-bleed-right">
        <div class="actions pull-right">
            <a href ng-click="returnToList()"><span class="fa fa-chevron-circle-left"></span> Back to SObjects</a>
        </div>
        <h1>{{ $root.title() + ' - ' + sObject.label }}</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Header Information</h3>
        </div>
        <div class="panel-body details-block" block-ui="sObjectDetails">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Label
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        {{ sObject.label }}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Label Plural
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        {{ sObject.labelPlural }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Api name
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        {{ sObject.name }}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Key Prefix
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        {{ sObject.keyPrefix }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Custom
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.custom) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Createable
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.createable) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Deletable
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.deletable) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Updateable
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.updateable) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Queryable
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.queryable) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-left">
                        Layoutable
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-right">
                        <i class="{{ (sObject.layoutable) ? 'fa fa-check' : '' }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Standard fields</h3>
        </div>
        <div class="panel-body" block-ui="sObjectFields" style="padding: 0px;min-height:200px;">
            <table class="table table-striped table-hover table-bordered" style="margin-bottom:0px;">
                <thead>
                    <tr>
                        <th style="text-align: right;">#</th>
                        <th>Label</th>
                        <th>Api Name</th>
                        <th>Datatype</th>
                        <th style="text-align: right;">Length</th>
                        <th style="text-align: center;">Auto number</th>
                        <th style="text-align: center;">Required</th>
                        <th style="text-align: center;">Unique</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in sObjectFields | filter: {custom: false}">
                        <td style="text-align: right;">{{ $index + 1 }}</td>
                        <td><strong>{{ field.label }}</strong></td>
                        <td>{{ field.name }}</td>
                        <td>{{ field.type }}</td>
                        <td style="text-align: right;">{{ field.length }}</td>
                        <td style="text-align: center;"><i class="{{ (field.autoNumber) ? 'fa fa-check' : '' }}"></i></td>
                        <td style="text-align: center;"><i class="{{ (field.nillable) ? '' : 'fa fa-check' }}"></i></td>
                        <td style="text-align: center;"><i class="{{ (field.unique) ? 'fa fa-check' : '' }}"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Custom fields</h3>
        </div>
        <div class="panel-body" block-ui="sObjectFields" style="padding: 0px;min-height:200px;">
            <table class="table table-striped table-hover table-bordered" style="margin-bottom:0px;">
                <thead>
                    <tr>
                        <th style="text-align: right;">#</th>
                        <th>Label</th>
                        <th>Api Name</th>
                        <th>Datatype</th>
                        <th>Reference To</th>
                        <th style="text-align: right;">Length</th>
                        <th style="text-align: center;">Auto number</th>
                        <th style="text-align: center;">Formula</th>
                        <th style="text-align: center;">Required</th>
                        <th style="text-align: center;">Unique</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in sObjectFields | filter: {custom: true}">
                        <td style="text-align: right;">{{ $index + 1 }}</td>
                        <td><strong>{{ field.label }}</strong></td>
                        <td>{{ field.name }}</td>
                        <td>{{ field.type }}</td>
                        <td>{{ field.referenceTo.toString() }}</td>
                        <td style="text-align: right;">{{ field.length }}</td>
                        <td style="text-align: center;"><i class="{{ (field.autoNumber) ? 'fa fa-check' : '' }}"></i></td>
                        <td style="text-align: center;"><i class="{{ (field.calculated) ? 'fa fa-check' : '' }}"></i></td>
                        <td style="text-align: center;"><i class="{{ (field.nillable) ? '' : 'fa fa-check' }}"></i></td>
                        <td style="text-align: center;"><i class="{{ (field.unique) ? 'fa fa-check' : '' }}"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->