<header class="slds-global-header_container">
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Navigation</a>
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>

    <div class="slds-global-header slds-grid slds-grid--align-spread">

        <div class="slds-global-header__item">
            <div class="slds-global-header__logo" style="width: 7.8125rem;">
                <!-- <img src="/resources/images/logo/genpact.png" alt="" /> -->
                <img src="" alt="" />
            </div>
        </div>

        <div class="slds-global-header__item slds-global-header__item--search">
            <div class="slds-form-element slds-lookup">
                <label class="slds-assistive-text" for="global-search-01">Search</label>
                <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
                    <svg class="slds-input__icon" aria-hidden="true">
                        <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>
                    <input type="search" id="global-search-01" class="slds-input slds-lookup__search-input" placeholder="Search..." />
                </div>
            </div>
        </div>

        <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
            <li slds-dropdown-menu class="slds-dropdown-trigger--header slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
                <button class="slds-button" title="{{ $root.user().firstname + ' ' + $root.user().lastname }}" aria-haspopup="true">
                    <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
                        <img src="/slds221/assets/images/avatar2.jpg" alt="{{ $root.user().firstname + ' ' + $root.user().lastname }}" />
                    </span>
                </button>
                <div class="slds-dropdown slds-dropdown--right slds-dropdown--small">
                    <ul class="slds-dropdown__list" role="menu">
                        <li class="slds-dropdown__header" role="separator">
                            <span class="slds-text-title--caps">{{ $root.user().firstname + ' ' + $root.user().lastname }}</span>
                        </li>
                        <!--<li class="slds-has-divider--top-space" role="separator"></li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" tabindex="0">
                                <span class="slds-truncate">{{'Profile' | translate}}</span>
                                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-left--small slds-shrink-none" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user_role"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                                <span class="slds-truncate">{{'Settings' | translate}}</span>
                                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-left--small slds-shrink-none" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                                </svg>
                            </a>
                        </li>-->
                        <li class="slds-has-divider--top-space" role="separator"></li>
                        <li class="slds-dropdown__item" role="presentation">
                            <a href="javascript:void(0);" ng-click="$root.logout()" role="menuitem" tabindex="-1">
                                <span class="slds-truncate">{{'Logout' | translate}}</span>
                                <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-left--small slds-shrink-none" aria-hidden="true">
                                    <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#logout"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <div class="slds-context-bar">
        <nav class="slds-context-bar__secondary" role="navigation">
            <ul class="slds-grid">

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.tabs" href="javascript:void(0);" class="slds-context-bar__label-action" title="Tabs">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#tabset"></use>
                            </svg>    
                            Tabs
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.layouts" href="javascript:void(0);" class="slds-context-bar__label-action" title="Layouts">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#layout"></use>
                            </svg>
                            Layouts
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.lookups" href="javascript:void(0);" class="slds-context-bar__label-action" title="Lookups">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                            </svg>
                            Lookups
                        </span>
                    </a>
                </li>
                
                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.components" href="javascript:void(0);" class="slds-context-bar__label-action" title="Components">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#apps"></use>
                            </svg>
                            Components
                        </span>
                    </a>
                </li>
                
                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.usermanagement" href="javascript:void(0);" class="slds-context-bar__label-action" title="User Management">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#user_role"></use>
                            </svg>
                            User Management
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.setup" href="javascript:void(0);" class="slds-context-bar__label-action" title="Setup">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                            </svg>
                            Setup
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.languages" href="javascript:void(0);" class="slds-context-bar__label-action" title="Languages">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#world"></use>
                            </svg>
                            Languages
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.clientdashboard" href="javascript:void(0);" class="slds-context-bar__label-action" title="Configure Dashboard">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small slds-icon--small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/standard-sprite/svg/symbols.svg#dashboard"></use>
                            </svg>
                            Configure Dashboard
                        </span>
                    </a>
                </li>

                <li class="slds-context-bar__item" ui-sref-active="slds-is-active">
                    <a ui-sref="admin.mobile" href="javascript:void(0);" class="slds-context-bar__label-action" title="Mobile">
                        <span class="slds-truncate">
                            <svg class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small" aria-hidden="true">
                                <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#phone_portrait"></use>
                            </svg>Mobile
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--<div class="slds-grid slds-wrap" ui-view style="padding-top: 90px;padding-bottom: 50px;"></div>-->
<div class="slds-grid slds-wrap" ui-view style="margin-top: 90px;"></div>
<div class="slds-grid slds-wrap" style="min-height: 40px;"></div>
<footer class="slds-utility-bar_container" role="footer" aria-label="Utility Bar">
  <h2 class="slds-assistive-text">Utility Bar</h2>
  <ul class="slds-utility-bar">
    <li class="slds-utility-bar__item"> 
      <button class="slds-button slds-utility-bar__action">
        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
          <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#call"></use>
        </svg>Call</button>
    </li>
    <li class="slds-utility-bar__item">
      <button class="slds-button slds-utility-bar__action">
        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
          <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#clock"></use>
        </svg>History</button>
    </li>
    <li class="slds-utility-bar__item">
      <button class="slds-button slds-utility-bar__action">
        <svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
          <use xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#note"></use>
        </svg>Notes</button>
    </li>
  </ul>
</footer>

