<slds-notification ></slds-notification>
<div class="container" block-ui="resetPWD" style="padding:20px 0px;width:100%;margin-top:70px">
    <div class="slds-grid">
        <div class="slds-size--1-of-2 login"></div>
        <div class="slds-size--1-of-2  login">
            <div class="slds-size--12-of-12 slds-grid">
                <div class="slds-size--2-of-12"></div>
                <div class="slds-size--8-of-12 slds-grid form-signin">
                    <div class="slds-size--1-of-12  "></div>
                    <div class="slds-size--10-of-12 " style="padding:0px 20px;">
                        <form class="slds-form--horizontal  " style="text-align: left !important" role="form">
                        <div class="slds-form-element">
                            <div class="" >
                                <h2 style=" color: #404040; font-size: 25px;margin:20px 0px;"><b>Reset new password </b></h2>
                            </div>
                        </div>
                        <div class="slds-form-element" style="margin-bottom:0px">
                            <div class="" style=" color:#00B0F0; " >
                                New password 
                            </div>
                        </div>
                        <div class="slds-form-element"  style="margin-bottom:15px">
                            <div class=""  >
                                <input type="password" border='0' id="newinputPassword" placeholder="" tabindex="1"  maxlength="20" ng-model="credentials.password">
                            </div>
                        </div>
                        <div class="slds-form-element" style="margin-bottom:0px">
                            <div class="" style=" color:#00B0F0; " >
                                Confirm new password
                            </div>
                        </div>
                        <div class="slds-form-element"  style="margin-bottom:15px">
                            <div class="" >
                                <input type="password"  id="reinputPassword" placeholder="" tabindex="2" maxlength="20"  ng-model="credentials.repassword">
                            </div>
                        </div>
                        <div class="slds-form-element slds-grid">
                            <div class="slds-size--8-of-12">
                            
                            </div>
                            <div class="slds-size--4-of-12 submit" align="right">
                                <!--<button type="submit" class="btn  btn-lg " style="background-color: #005fb2 ;color:white; border-radius: 5px;"  tabindex="4" ng-click="login()" ng-disabled="loggingIn"> {{ (loggingIn) ? 'Logging In ...' : 'Log In' }}</button>-->
                                <button type="submit" style="font-size: 14px;" class="slds-button slds-button--brand" ng-click="newPassword()" ng-disabled="resetpass">
                                    <!--<svg class="slds-button__icon slds-button__icon--left" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds221/assets/icons/utility-sprite/svg/symbols.svg#login"></use>
                                    </svg>-->
                                    <b> {{ (resetpass) ? 'Submiting...' : 'Submit' }}</b>
                                </button>
                            </div>
                        </div>
                        <div class="slds-form-element slds-grid" style="font-size: 14px;">
                            <div class="slds-size--12-of-12">
                                <strong>Valid password format</strong>
                                <ul style="list-style-type: disc;padding-left: 40px;">
                                    <li>Password must contain atleast one latter</li>
                                    <li>Password must contain atleast one number</li>
                                    <li>Password must contain atleast one special character</li>
                                    <li>Password length must be between 5 - 19 </li>
                                </ul> 
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="slds-size--1-of-12  "></div>
                
                </div>
                <div class="slds-size--2-of-12"></div>
            </div>
        </div>
    </div>
</div>