<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AdminSetupSfdcEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="AdminSetupSfdcEditModalLabel" ng-bind-template="{{ title }}">Edit Salesforce Org Configuration</h4>
            </div>
            <div class="modal-body" style="height:300px;overflow: auto;" block-ui="editSalesforceConfiguration">
                <form class="form-horizontal col-md-12">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Username</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="sfdc.username" class="col-sm-8 form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="sfdc.password" class="col-sm-8 form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Token</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="sfdc.token" class="col-sm-8 form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Environment</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="sfdc.environment" ng-options="env.value as env.label for env in sfdcEnvs"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Time Zone</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="sfdc.TimeZoneId" ng-options="timezone.id as timezone.name for timezone in timezones">
                                <option value="">---None---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Locale</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="sfdc.LocaleId" ng-options="locale.id as locale.name for locale in locales | orderBy: 'name'">
                                <option value="">---None---</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="save()"><i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
</div>